In [142]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from bs4 import BeautifulSoup

In [143]:
def print_remainder(df):
    '''
    This is just to check how many rows are left in the dataframe,
    sum of total distance, and how many instances are left that start
    on one day and finishes another day.
    '''

    print(f'Total Rows = {len(df)}')
    print(f'Total Distance = {df.tot_dist.sum()}')
    print(f"start_date != end_date: {len(df[df['start_date']!=df['end_date']])}")

In [144]:
def print_all_info(df):
    '''
    Get the information of any dataframe.
    '''

    print('^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.head()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^')
    print(df.head())
    print('\n\n^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.tail()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^')
    print(df.tail())
    print('\n\n^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.describe()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^')
    print(df.describe())
    print('\n\n^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.info()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^')
    print(df.info())

In [145]:
def reset_df_uno(df):
    '''
    Found this convinient, since removing and adding rows every function could
    lead to missing indexes and data not being in correct order.
    '''

    df.sort_values(by=['start_date', 'start_time'], inplace=True)
    df = df[df['tot_dist'] > 1e-4]
#     df = df[df['duration'] > 1e-4]
    df.loc[:, 'duration'] = np.where(df['start_date'] == df['end_date'],
      (df['end_time'] - df['start_time']), df['duration'])
    df.reset_index(inplace=True)
    df.drop(columns=['index'], inplace=True)
    return df

In [146]:
def reset_df_dos(df):
    '''
    Found this convinient, since removing and adding rows every function could
    lead to missing indexes and data not being in correct order.
    '''

    df.sort_values(by=['start_date', 'start_time'], inplace=True)
    df = df[df['tot_dist'] > 1e-4]
    df.loc[:, 'duration'] = np.where(df['start_date'] == df['end_date'],
      (df['end_time'] - df['start_time']), df['duration'])
    df = df[df['duration'] > 5e-4]
    df.reset_index(inplace=True)
    df.drop(columns=['index'], inplace=True)
    return df

In [147]:
dist_df = pd.DataFrame()
start_date_col = []
end_date_col = []
tot_dist_col = []
source_col = []

with open('./data/export.xml') as fp:
    soup = BeautifulSoup(fp, 'lxml-xml')

distance = soup.findAll(
    'Record', {'type': 'HKQuantityTypeIdentifierDistanceWalkingRunning'})

for num in distance:
    start_date_col.append(num['startDate'])
    end_date_col.append(num['endDate'])
    tot_dist_col.append(num['value'])
    source_col.append(num['sourceName'])

dist_df.loc[:, 'start_date'] = start_date_col
dist_df.loc[:, 'end_date'] = end_date_col
dist_df.loc[:, 'tot_dist'] = tot_dist_col
dist_df.loc[:, 'source'] = source_col

dist_df.loc[:, 'tot_dist'] = dist_df.tot_dist.astype(float)

dist_df.sort_values(by=['start_date', 'end_date'], inplace=True)
dist_df = dist_df[dist_df['tot_dist'] > 1e-4]
dist_df.reset_index(inplace=True)
dist_df.drop(columns=['index'], inplace=True)

In [148]:
print_remainder(dist_df)
print_all_info(dist_df)

Total Rows = 27658
Total Distance = 2052.880320333
start_date != end_date: 27650
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.head()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                  start_date                   end_date  tot_dist  source
0  2017-02-17 21:23:24 -0700  2017-02-17 21:30:42 -0700  0.025756  iPhone
1  2017-02-17 21:36:28 -0700  2017-02-17 21:44:19 -0700  0.082226  iPhone
2  2017-02-17 21:44:19 -0700  2017-02-17 21:51:52 -0700  0.019579  iPhone
3  2017-02-17 21:52:34 -0700  2017-02-17 21:58:37 -0700  0.008028  iPhone
4  2017-02-17 21:58:37 -0700  2017-02-17 22:07:35 -0700  0.086389  iPhone


^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.tail()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                      start_date                   end_date  tot_dist  \
27653  2018-10-24 17:55:59 -0700  2018-10-24 18:00:59 -0700  0.059030
27654  2018-10-24 17:58:35 -0700  2018-10-24 18:08:34 -0700  0.312786
27655  2018-10-24 18:00:59 -0700  2018-10-24 18:12:59 -0700  0.109361
27656  2018-10-24 18:08:34 -0700  2018-10-24 18:18:35 -0700  0.378862
27657  2018-10-24 18:18:35 -0700  2018-10-24 18:19:26 -0700  0.039761

          source
27653  Connected
27654     iPhone
27655  Connected
27656     iPhone
27657     iPhone


^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.describe()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
           tot_dist
count  27658.000000
mean       0.074224
std        0.117490
min        0.000148
25%        0.015604
50%        0.037114
75%        0.082642
max        5.292900


^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.info()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27658 entries, 0 to 27657
Data columns (total 4 columns):
start_date    27658 non-null object
end_date      27658 non-null object
tot_dist      27658 non-null float64
source        27658 non-null object
dtypes: float64(1), object(3)
memory usage: 864.4+ KB
None

In [149]:
sd_df = dist_df[('start_date')].str.split(' ', expand=True)
sd_df.columns = ['start_date', 'start_time', 'time_zone']
sd_df.drop(columns=['time_zone'], inplace=True)
sd_df.loc[:, 'start_date'] = pd.to_datetime(sd_df['start_date'], format='%Y/%m/%d')
sd_df.loc[:, 'start_time'] = pd.to_timedelta(sd_df['start_time'])

In [150]:
ed_df = dist_df['end_date'].str.split(' ', expand=True)
ed_df.columns = ['end_date', 'end_time', 'time_zone']
ed_df.drop(columns=['time_zone'], inplace=True)
ed_df.loc[:, 'end_date'] = pd.to_datetime(ed_df['end_date'], format='%Y/%m/%d')
ed_df.loc[:, 'end_time'] = pd.to_timedelta(ed_df['end_time'])

In [151]:
dur_df = pd.concat([sd_df, ed_df], axis=1)

dur_df.loc[:, 'sdt'] = dur_df['start_date'] + dur_df['start_time']
dur_df.loc[:, 'edt'] = dur_df['end_date'] + dur_df['end_time']
dur_df.loc[:, 'duration'] = dur_df['edt'] - dur_df['sdt']
dur_df.drop(columns=['sdt', 'edt'], inplace=True)

In [152]:
dist_df.drop(columns=['start_date', 'end_date'], inplace=True)

df = pd.concat([dist_df, dur_df], axis=1)  # Step 3, xml input file all parsed

df = df[['start_date', 'start_time', 'end_date',
         'end_time', 'tot_dist', 'duration', 'source']]

df = reset_df_uno(df)

'''I found working with numbers easier than working with Timedeltas'''
df.loc[:, 'start_time'] = pd.to_numeric(df['start_time']) / 3600000000000
df.loc[:, 'end_time'] = pd.to_numeric(df['end_time']) / 3600000000000
df.loc[:, 'duration'] = pd.to_numeric(df['duration']) / 3600000000000

In [153]:
print_remainder(df)
print_all_info(df)
reset_df_dos(df)

Total Rows = 27658
Total Distance = 2052.880320333
start_date != end_date: 139
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.head()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  start_date  start_time   end_date   end_time  tot_dist  duration  source
0 2017-02-17   21.390000 2017-02-17  21.511667  0.025756  0.121667  iPhone
1 2017-02-17   21.607778 2017-02-17  21.738611  0.082226  0.130833  iPhone
2 2017-02-17   21.738611 2017-02-17  21.864444  0.019579  0.125833  iPhone
3 2017-02-17   21.876111 2017-02-17  21.976944  0.008028  0.100833  iPhone
4 2017-02-17   21.976944 2017-02-17  22.126389  0.086389  0.149444  iPhone


^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.tail()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
      start_date  start_time   end_date   end_time  tot_dist  duration  \
27653 2018-10-24   17.933056 2018-10-24  18.016389  0.059030  0.083333
27654 2018-10-24   17.976389 2018-10-24  18.142778  0.312786  0.166389
27655 2018-10-24   18.016389 2018-10-24  18.216389  0.109361  0.200000
27656 2018-10-24   18.142778 2018-10-24  18.309722  0.378862  0.166944
27657 2018-10-24   18.309722 2018-10-24  18.323889  0.039761  0.014167

          source
27653  Connected
27654     iPhone
27655  Connected
27656     iPhone
27657     iPhone


^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.describe()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
         start_time      end_time      tot_dist      duration
count  27658.000000  27658.000000  27658.000000  27658.000000
mean      15.014259     15.080385      0.074224      0.188478
std        5.086602      5.119208      0.117490      0.480818
min        0.000000      0.000000      0.000148      0.000000
25%       11.528611     11.605208      0.015604      0.103889
50%       15.144583     15.245833      0.037114      0.144167
75%       19.075139     19.169722      0.082642      0.166111
max       23.999444     23.996944      5.292900     41.077500


^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.info()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27658 entries, 0 to 27657
Data columns (total 7 columns):
start_date    27658 non-null datetime64[ns]
start_time    27658 non-null float64
end_date      27658 non-null datetime64[ns]
end_time      27658 non-null float64
tot_dist      27658 non-null float64
duration      27658 non-null float64
source        27658 non-null object
dtypes: datetime64[ns](2), float64(4), object(1)
memory usage: 1.5+ MB
None

,start_date,start_time,end_date,end_time,tot_dist,duration,source
0,2017-02-17,21.390000,2017-02-17,21.511667,0.025756,0.121667,iPhone
1,2017-02-17,21.607778,2017-02-17,21.738611,0.082226,0.130833,iPhone
2,2017-02-17,21.738611,2017-02-17,21.864444,0.019579,0.125833,iPhone
3,2017-02-17,21.876111,2017-02-17,21.976944,0.008028,0.100833,iPhone
4,2017-02-17,21.976944,2017-02-17,22.126389,0.086389,0.149444,iPhone
5,2017-02-17,22.273611,2017-02-17,22.425000,0.109740,0.151389,iPhone
6,2017-02-17,22.425000,2017-02-17,22.574722,0.008128,0.149722,iPhone
7,2017-02-17,22.854722,2017-02-17,22.986389,0.002691,0.131667,iPhone
8,2017-02-18,9.919167,2017-02-18,10.020556,0.008345,0.101389,iPhone
9,2017-02-18,11.562500,2017-02-18,11.668056,0.006761,0.105556,iPhone
10,2017-02-18,14.168056,2017-02-18,14.296667,0.008183,0.128611,iPhone
11,2017-02-18,16.658056,2017-02-18,16.814722,0.013658,0.156667,iPhone
12,2017-02-18,16.814722,2017-02-18,16.902778,0.008165,0.088056,iPhone
13,2017-02-18,16.911389,2017-02-18,17.078056,0.059677,0.166667,iPhone
14,2017-02-18,17.078056,2017-02-18,17.238611,0.097723,0.160556,iPhone
15,2017-02-18,17.238611,2017-02-18,17.397500,0.098947,0.158889,iPhone
16,2017-02-18,17.397500,2017-02-18,17.534722,0.034641,0.137222,iPhone
17,2017-02-18,17.534722,2017-02-18,17.700833,0.101687,0.166111,iPhone
18,2017-02-18,17.700833,2017-02-18,17.850556,0.172138,0.149722,iPhone
19,2017-02-18,17.850556,2017-02-18,17.912778,0.007127,0.062222,iPhone
20,2017-02-18,18.096667,2017-02-18,18.206667,0.014552,0.110000,iPhone
21,2017-02-18,18.501667,2017-02-18,18.666944,0.102657,0.165278,iPhone
22,2017-02-18,18.666944,2017-02-18,18.817778,0.100016,0.150833,iPhone
23,2017-02-18,18.817778,2017-02-18,18.861667,0.028105,0.043889,iPhone
24,2017-02-18,19.016389,2017-02-18,19.165833,0.078485,0.149444,iPhone
25,2017-02-18,19.165833,2017-02-18,19.263333,0.025110,0.097500,iPhone
26,2017-02-18,19.392222,2017-02-18,19.475278,0.016274,0.083056,iPhone
27,2017-02-18,20.536667,2017-02-18,20.639444,0.007941,0.102778,iPhone
28,2017-02-18,21.470000,2017-02-18,21.570833,0.009097,0.100833,iPhone
29,2017-02-18,21.570833,2017-02-18,21.734167,0.004138,0.163333,iPhone
...,...,...,...,...,...,...,...
27620,2018-10-24,12.799167,2018-10-24,12.960000,0.343724,0.160833,iPhone
27621,2018-10-24,12.976944,2018-10-24,13.143611,0.395055,0.166667,iPhone
27622,2018-10-24,13.016389,2018-10-24,13.049722,0.040389,0.033333,Connected
27623,2018-10-24,13.049722,2018-10-24,13.083056,0.074565,0.033333,Connected
27624,2018-10-24,13.083056,2018-10-24,13.099722,0.021748,0.016667,Connected
27625,2018-10-24,13.099722,2018-10-24,13.116389,0.029826,0.016667,Connected
27626,2018-10-24,13.116389,2018-10-24,13.133056,0.006214,0.016667,Connected
27627,2018-10-24,13.133056,2018-10-24,13.199722,0.163421,0.066667,Connected
27628,2018-10-24,13.143611,2018-10-24,13.291111,0.204338,0.147500,iPhone
27629,2018-10-24,13.199722,2018-10-24,14.016389,0.072079,0.816667,Connected
27630,2018-10-24,13.314444,2018-10-24,13.388611,0.022202,0.074167,iPhone
27631,2018-10-24,14.016389,2018-10-24,15.016389,0.015534,1.000000,Connected
27632,2018-10-24,15.016389,2018-10-24,16.016389,0.055302,1.000000,Connected
27633,2018-10-24,16.016389,2018-10-24,17.016389,0.102526,1.000000,Connected
27634,2018-10-24,16.105278,2018-10-24,16.265556,0.064672,0.160278,iPhone
27635,2018-10-24,16.366111,2018-10-24,16.374722,0.029571,0.008611,iPhone
27636,2018-10-24,17.016389,2018-10-24,17.833056,0.267190,0.816667,Connected
27637,2018-10-24,17.035278,2018-10-24,17.183889,0.049380,0.148611,iPhone
27638,2018-10-24,17.299167,2018-10-24,17.465833,0.086737,0.166667,iPhone
27639,2018-10-24,17.477222,2018-10-24,17.643611,0.158151,0.166389,iPhone
27640,2018-10-24,17.643611,2018-10-24,17.810000,0.324182,0.166389,iPhone
27641,2018-10-24,17.810000,2018-10-24,17.976389,0.322734,0.166389,iPhone
27642,2018-10-24,17.833056,2018-10-24,17.866389,0.050331,0.033333,Connected
27643,2018-10-24,17.866389,2018-10-24,17.916389,0.034175,0.050000,Connected
27644,2018-10-24,17.916389,2018-10-24,17.933056,0.024234,0.016667,Connected
27645,2018-10-24,17.933056,2018-10-24,18.016389,0.059030,0.083333,Connected
27646,2018-10-24,17.976389,2018-10-24,18.142778,0.312786,0.166389,iPhone
27647,2018-10-24,18.016389,2018-10-24,18.216389,0.109361,0.200000,Connected
27648,2018-10-24,18.142778,2018-10-24,18.309722,0.378862,0.166944,iPhone
27649,2018-10-24,18.309722,2018-10-24,18.323889,0.039761,0.014167,iPhone

In [154]:
i = 0
while i < len(df) - 1:
    if (df.end_date[i] - pd.Timedelta(1, unit='D') == df.start_date[i]):
        st_dt, st_tm, end_dt, end_tm, tot_di, dur, sauce = df.iloc[i]
        dist_per_hour = tot_di / (end_tm + (24.0 - st_tm))
        tot_di_1 = dist_per_hour * (24.0 - st_tm)
        tot_di_2 = dist_per_hour * end_tm
        df.loc[i + .1] = [end_dt, 0.0, end_dt, end_tm,
                          tot_di_2, end_tm, sauce]
        df.loc[i] = [st_dt, st_tm, st_dt, 24.0,
                     tot_di_1, (24.0 - st_tm), sauce]
        df.reset_index(inplace=True)
        df.drop(columns=['index'], inplace=True)
        i += 1

    elif (df.end_date[i] - pd.Timedelta(2, unit='D') == df.start_date[i]):
        st_dt, st_tm, end_dt, end_tm, tot_di, dur, sauce = df.iloc[i]
        dist_per_hour = tot_di / (end_tm + 24.0 + (24.0 - st_tm))
        tot_di_1 = dist_per_hour * (24.0 - st_tm)
        tot_di_2 = dist_per_hour * 24.0
        tot_di_3 = dist_per_hour * end_tm
        dt_2 = end_dt - pd.Timedelta(1, unit='D')
        df.loc[i + .1] = [dt_2, 0.0, dt_2, 24.0,
                          tot_di_2, 24.0, sauce]
        df.loc[i + .2] = [end_dt, 0.0, end_dt, end_tm,
                          tot_di_3, end_tm, sauce]
        df.loc[i] = [st_dt, st_tm, st_dt, 24.0,
                     tot_di_1, (24.0 - st_tm), sauce]
        df.reset_index(inplace=True)
        df.drop(columns=['index'], inplace=True)
        i += 1

    else:
        i += 1

In [155]:
print_remainder(df)
print_all_info(df)
reset_df_dos(df)

Total Rows = 27799
Total Distance = 2052.880320333
start_date != end_date: 0
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.head()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  start_date  start_time   end_date   end_time  tot_dist  duration  source
0 2017-02-17   21.390000 2017-02-17  21.511667  0.025756  0.121667  iPhone
1 2017-02-17   21.607778 2017-02-17  21.738611  0.082226  0.130833  iPhone
2 2017-02-17   21.738611 2017-02-17  21.864444  0.019579  0.125833  iPhone
3 2017-02-17   21.876111 2017-02-17  21.976944  0.008028  0.100833  iPhone
4 2017-02-17   21.976944 2017-02-17  22.126389  0.086389  0.149444  iPhone


^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.tail()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
      start_date  start_time   end_date  end_time  tot_dist  duration  \
27794 2018-10-20         0.0 2018-10-20  0.005278  0.000066  0.005278
27795 2018-10-21         0.0 2018-10-21  0.005278  0.000049  0.005278
27796 2018-10-22         0.0 2018-10-22  0.001667  0.000011  0.001667
27797 2018-10-23         0.0 2018-10-23  0.001667  0.000002  0.001667
27798 2018-10-24         0.0 2018-10-24  0.001667  0.000014  0.001667

          source
27794  Connected
27795  Connected
27796  Connected
27797  Connected
27798  Connected


^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.describe()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
         start_time      end_time      tot_dist      duration
count  27799.000000  27799.000000  27799.000000  27799.000000
mean      14.938105     15.125627      0.073847      0.187522
std        5.184585      5.145373      0.108945      0.373352
min        0.000000      0.000000      0.000000      0.000000
25%       11.464861     11.630278      0.015469      0.103611
50%       15.105000     15.289722      0.036885      0.143611
75%       19.055417     19.223056      0.082297      0.166111
max       23.999444     24.000000      3.464074     24.000000


^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.info()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27799 entries, 0 to 27798
Data columns (total 7 columns):
start_date    27799 non-null datetime64[ns]
start_time    27799 non-null float64
end_date      27799 non-null datetime64[ns]
end_time      27799 non-null float64
tot_dist      27799 non-null float64
duration      27799 non-null float64
source        27799 non-null object
dtypes: datetime64[ns](2), float64(4), object(1)
memory usage: 1.5+ MB
None

,start_date,start_time,end_date,end_time,tot_dist,duration,source
0,2017-02-17,21.390000,2017-02-17,21.511667,0.025756,0.121667,iPhone
1,2017-02-17,21.607778,2017-02-17,21.738611,0.082226,0.130833,iPhone
2,2017-02-17,21.738611,2017-02-17,21.864444,0.019579,0.125833,iPhone
3,2017-02-17,21.876111,2017-02-17,21.976944,0.008028,0.100833,iPhone
4,2017-02-17,21.976944,2017-02-17,22.126389,0.086389,0.149444,iPhone
5,2017-02-17,22.273611,2017-02-17,22.425000,0.109740,0.151389,iPhone
6,2017-02-17,22.425000,2017-02-17,22.574722,0.008128,0.149722,iPhone
7,2017-02-17,22.854722,2017-02-17,22.986389,0.002691,0.131667,iPhone
8,2017-02-18,9.919167,2017-02-18,10.020556,0.008345,0.101389,iPhone
9,2017-02-18,11.562500,2017-02-18,11.668056,0.006761,0.105556,iPhone
10,2017-02-18,14.168056,2017-02-18,14.296667,0.008183,0.128611,iPhone
11,2017-02-18,16.658056,2017-02-18,16.814722,0.013658,0.156667,iPhone
12,2017-02-18,16.814722,2017-02-18,16.902778,0.008165,0.088056,iPhone
13,2017-02-18,16.911389,2017-02-18,17.078056,0.059677,0.166667,iPhone
14,2017-02-18,17.078056,2017-02-18,17.238611,0.097723,0.160556,iPhone
15,2017-02-18,17.238611,2017-02-18,17.397500,0.098947,0.158889,iPhone
16,2017-02-18,17.397500,2017-02-18,17.534722,0.034641,0.137222,iPhone
17,2017-02-18,17.534722,2017-02-18,17.700833,0.101687,0.166111,iPhone
18,2017-02-18,17.700833,2017-02-18,17.850556,0.172138,0.149722,iPhone
19,2017-02-18,17.850556,2017-02-18,17.912778,0.007127,0.062222,iPhone
20,2017-02-18,18.096667,2017-02-18,18.206667,0.014552,0.110000,iPhone
21,2017-02-18,18.501667,2017-02-18,18.666944,0.102657,0.165278,iPhone
22,2017-02-18,18.666944,2017-02-18,18.817778,0.100016,0.150833,iPhone
23,2017-02-18,18.817778,2017-02-18,18.861667,0.028105,0.043889,iPhone
24,2017-02-18,19.016389,2017-02-18,19.165833,0.078485,0.149444,iPhone
25,2017-02-18,19.165833,2017-02-18,19.263333,0.025110,0.097500,iPhone
26,2017-02-18,19.392222,2017-02-18,19.475278,0.016274,0.083056,iPhone
27,2017-02-18,20.536667,2017-02-18,20.639444,0.007941,0.102778,iPhone
28,2017-02-18,21.470000,2017-02-18,21.570833,0.009097,0.100833,iPhone
29,2017-02-18,21.570833,2017-02-18,21.734167,0.004138,0.163333,iPhone
...,...,...,...,...,...,...,...
27704,2018-10-24,12.799167,2018-10-24,12.960000,0.343724,0.160833,iPhone
27705,2018-10-24,12.976944,2018-10-24,13.143611,0.395055,0.166667,iPhone
27706,2018-10-24,13.016389,2018-10-24,13.049722,0.040389,0.033333,Connected
27707,2018-10-24,13.049722,2018-10-24,13.083056,0.074565,0.033333,Connected
27708,2018-10-24,13.083056,2018-10-24,13.099722,0.021748,0.016667,Connected
27709,2018-10-24,13.099722,2018-10-24,13.116389,0.029826,0.016667,Connected
27710,2018-10-24,13.116389,2018-10-24,13.133056,0.006214,0.016667,Connected
27711,2018-10-24,13.133056,2018-10-24,13.199722,0.163421,0.066667,Connected
27712,2018-10-24,13.143611,2018-10-24,13.291111,0.204338,0.147500,iPhone
27713,2018-10-24,13.199722,2018-10-24,14.016389,0.072079,0.816667,Connected
27714,2018-10-24,13.314444,2018-10-24,13.388611,0.022202,0.074167,iPhone
27715,2018-10-24,14.016389,2018-10-24,15.016389,0.015534,1.000000,Connected
27716,2018-10-24,15.016389,2018-10-24,16.016389,0.055302,1.000000,Connected
27717,2018-10-24,16.016389,2018-10-24,17.016389,0.102526,1.000000,Connected
27718,2018-10-24,16.105278,2018-10-24,16.265556,0.064672,0.160278,iPhone
27719,2018-10-24,16.366111,2018-10-24,16.374722,0.029571,0.008611,iPhone
27720,2018-10-24,17.016389,2018-10-24,17.833056,0.267190,0.816667,Connected
27721,2018-10-24,17.035278,2018-10-24,17.183889,0.049380,0.148611,iPhone
27722,2018-10-24,17.299167,2018-10-24,17.465833,0.086737,0.166667,iPhone
27723,2018-10-24,17.477222,2018-10-24,17.643611,0.158151,0.166389,iPhone
27724,2018-10-24,17.643611,2018-10-24,17.810000,0.324182,0.166389,iPhone
27725,2018-10-24,17.810000,2018-10-24,17.976389,0.322734,0.166389,iPhone
27726,2018-10-24,17.833056,2018-10-24,17.866389,0.050331,0.033333,Connected
27727,2018-10-24,17.866389,2018-10-24,17.916389,0.034175,0.050000,Connected
27728,2018-10-24,17.916389,2018-10-24,17.933056,0.024234,0.016667,Connected
27729,2018-10-24,17.933056,2018-10-24,18.016389,0.059030,0.083333,Connected
27730,2018-10-24,17.976389,2018-10-24,18.142778,0.312786,0.166389,iPhone
27731,2018-10-24,18.016389,2018-10-24,18.216389,0.109361,0.200000,Connected
27732,2018-10-24,18.142778,2018-10-24,18.309722,0.378862,0.166944,iPhone
27733,2018-10-24,18.309722,2018-10-24,18.323889,0.039761,0.014167,iPhone

In [156]:
i = 0
while i < len(df) - 1:
    if (df.start_date[i] == df.end_date[i]) and (
            df.start_date[i] == df.end_date[i + 1]) and (
            df.start_date[i] == df.start_date[i + 1]) and (
            df.start_time[i] <= df.start_time[i + 1]) and (
            df.end_time[i] >= df.end_time[i + 1]):

        df.drop(index=(i + 1), inplace=True)
        df.reset_index(inplace=True)
        df.drop(columns=['index'], inplace=True)

    else:
        i += 1

In [157]:
df = df[df.duration>5e-4]
print_remainder(df)
print_all_info(df)
reset_df_dos(df)

Total Rows = 24958
Total Distance = 1917.0401371902894
start_date != end_date: 0
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.head()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  start_date  start_time   end_date   end_time  tot_dist  duration  source
0 2017-02-17   21.390000 2017-02-17  21.511667  0.025756  0.121667  iPhone
1 2017-02-17   21.607778 2017-02-17  21.738611  0.082226  0.130833  iPhone
2 2017-02-17   21.738611 2017-02-17  21.864444  0.019579  0.125833  iPhone
3 2017-02-17   21.876111 2017-02-17  21.976944  0.008028  0.100833  iPhone
4 2017-02-17   21.976944 2017-02-17  22.126389  0.086389  0.149444  iPhone


^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.tail()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
      start_date  start_time   end_date   end_time  tot_dist  duration  \
24954 2018-10-24   17.933056 2018-10-24  18.016389  0.059030  0.083333
24955 2018-10-24   17.976389 2018-10-24  18.142778  0.312786  0.166389
24956 2018-10-24   18.016389 2018-10-24  18.216389  0.109361  0.200000
24957 2018-10-24   18.142778 2018-10-24  18.309722  0.378862  0.166944
24958 2018-10-24   18.309722 2018-10-24  18.323889  0.039761  0.014167

          source
24954  Connected
24955     iPhone
24956  Connected
24957     iPhone
24958     iPhone


^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.describe()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
         start_time      end_time      tot_dist      duration
count  24958.000000  24958.000000  2.495800e+04  24958.000000
mean      14.923035     15.117927  7.681065e-02      0.194892
std        5.185959      5.145817  1.128456e-01      0.387177
min        0.000000      0.000556  6.904111e-07      0.000556
25%       11.458958     11.634583  1.525470e-02      0.109167
50%       15.074028     15.263056  3.804030e-02      0.147500
75%       19.031042     19.207153  8.629445e-02      0.166111
max       23.999444     24.000000  3.464074e+00     24.000000


^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^df.info()^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
<class 'pandas.core.frame.DataFrame'>
Int64Index: 24958 entries, 0 to 24958
Data columns (total 7 columns):
start_date    24958 non-null datetime64[ns]
start_time    24958 non-null float64
end_date      24958 non-null datetime64[ns]
end_time      24958 non-null float64
tot_dist      24958 non-null float64
duration      24958 non-null float64
source        24958 non-null object
dtypes: datetime64[ns](2), float64(4), object(1)
memory usage: 1.5+ MB
None

,start_date,start_time,end_date,end_time,tot_dist,duration,source
0,2017-02-17,21.390000,2017-02-17,21.511667,0.025756,0.121667,iPhone
1,2017-02-17,21.607778,2017-02-17,21.738611,0.082226,0.130833,iPhone
2,2017-02-17,21.738611,2017-02-17,21.864444,0.019579,0.125833,iPhone
3,2017-02-17,21.876111,2017-02-17,21.976944,0.008028,0.100833,iPhone
4,2017-02-17,21.976944,2017-02-17,22.126389,0.086389,0.149444,iPhone
5,2017-02-17,22.273611,2017-02-17,22.425000,0.109740,0.151389,iPhone
6,2017-02-17,22.425000,2017-02-17,22.574722,0.008128,0.149722,iPhone
7,2017-02-17,22.854722,2017-02-17,22.986389,0.002691,0.131667,iPhone
8,2017-02-18,9.919167,2017-02-18,10.020556,0.008345,0.101389,iPhone
9,2017-02-18,11.562500,2017-02-18,11.668056,0.006761,0.105556,iPhone
10,2017-02-18,14.168056,2017-02-18,14.296667,0.008183,0.128611,iPhone
11,2017-02-18,16.658056,2017-02-18,16.814722,0.013658,0.156667,iPhone
12,2017-02-18,16.814722,2017-02-18,16.902778,0.008165,0.088056,iPhone
13,2017-02-18,16.911389,2017-02-18,17.078056,0.059677,0.166667,iPhone
14,2017-02-18,17.078056,2017-02-18,17.238611,0.097723,0.160556,iPhone
15,2017-02-18,17.238611,2017-02-18,17.397500,0.098947,0.158889,iPhone
16,2017-02-18,17.397500,2017-02-18,17.534722,0.034641,0.137222,iPhone
17,2017-02-18,17.534722,2017-02-18,17.700833,0.101687,0.166111,iPhone
18,2017-02-18,17.700833,2017-02-18,17.850556,0.172138,0.149722,iPhone
19,2017-02-18,17.850556,2017-02-18,17.912778,0.007127,0.062222,iPhone
20,2017-02-18,18.096667,2017-02-18,18.206667,0.014552,0.110000,iPhone
21,2017-02-18,18.501667,2017-02-18,18.666944,0.102657,0.165278,iPhone
22,2017-02-18,18.666944,2017-02-18,18.817778,0.100016,0.150833,iPhone
23,2017-02-18,18.817778,2017-02-18,18.861667,0.028105,0.043889,iPhone
24,2017-02-18,19.016389,2017-02-18,19.165833,0.078485,0.149444,iPhone
25,2017-02-18,19.165833,2017-02-18,19.263333,0.025110,0.097500,iPhone
26,2017-02-18,19.392222,2017-02-18,19.475278,0.016274,0.083056,iPhone
27,2017-02-18,20.536667,2017-02-18,20.639444,0.007941,0.102778,iPhone
28,2017-02-18,21.470000,2017-02-18,21.570833,0.009097,0.100833,iPhone
29,2017-02-18,21.570833,2017-02-18,21.734167,0.004138,0.163333,iPhone
...,...,...,...,...,...,...,...
24877,2018-10-24,6.001389,2018-10-24,7.001389,0.000621,1.000000,Connected
24878,2018-10-24,7.001389,2018-10-24,8.001389,0.023612,1.000000,Connected
24879,2018-10-24,8.001389,2018-10-24,8.084722,0.000621,0.083333,Connected
24880,2018-10-24,8.083056,2018-10-24,8.333056,0.099419,0.250000,Connected
24881,2018-10-24,8.321111,2018-10-24,8.488056,0.305652,0.166944,iPhone
24882,2018-10-24,8.466389,2018-10-24,8.533056,0.055302,0.066667,Connected
24883,2018-10-24,8.488056,2018-10-24,8.622222,0.193315,0.134167,iPhone
24884,2018-10-24,8.566389,2018-10-24,9.016389,0.104390,0.450000,Connected
24885,2018-10-24,9.016389,2018-10-24,10.016389,0.035418,1.000000,Connected
24886,2018-10-24,9.982222,2018-10-24,10.103333,0.035909,0.121111,iPhone
24887,2018-10-24,10.016389,2018-10-24,11.016389,0.140430,1.000000,Connected
24888,2018-10-24,11.016389,2018-10-24,11.533056,0.059030,0.516667,Connected
24889,2018-10-24,11.488056,2018-10-24,11.539444,0.086464,0.051389,iPhone
24890,2018-10-24,11.533056,2018-10-24,11.549722,0.026719,0.016667,Connected
24891,2018-10-24,11.549722,2018-10-24,12.016389,0.142294,0.466667,Connected
24892,2018-10-24,12.016389,2018-10-24,13.016389,0.365988,1.000000,Connected
24893,2018-10-24,12.976944,2018-10-24,13.143611,0.395055,0.166667,iPhone
24894,2018-10-24,13.133056,2018-10-24,13.199722,0.163421,0.066667,Connected
24895,2018-10-24,13.143611,2018-10-24,13.291111,0.204338,0.147500,iPhone
24896,2018-10-24,13.199722,2018-10-24,14.016389,0.072079,0.816667,Connected
24897,2018-10-24,14.016389,2018-10-24,15.016389,0.015534,1.000000,Connected
24898,2018-10-24,15.016389,2018-10-24,16.016389,0.055302,1.000000,Connected
24899,2018-10-24,16.016389,2018-10-24,17.016389,0.102526,1.000000,Connected
24900,2018-10-24,17.016389,2018-10-24,17.833056,0.267190,0.816667,Connected
24901,2018-10-24,17.810000,2018-10-24,17.976389,0.322734,0.166389,iPhone
24902,2018-10-24,17.933056,2018-10-24,18.016389,0.059030,0.083333,Connected
24903,2018-10-24,17.976389,2018-10-24,18.142778,0.312786,0.166389,iPhone
24904,2018-10-24,18.016389,2018-10-24,18.216389,0.109361,0.200000,Connected
24905,2018-10-24,18.142778,2018-10-24,18.309722,0.378862,0.166944,iPhone
24906,2018-10-24,18.309722,2018-10-24,18.323889,0.039761,0.014167,iPhone

In [160]:
i = 0
while i < len(df) - 1:
    if (df.start_date[i] == df.end_date[i]) and (
            df.start_date[i] == df.end_date[i + 1]) and(
            df.start_date[i] == df.start_date[i + 1]) and (
            df.start_time[i + 1] <= df.end_time[i]) and (
            df.end_time[i + 1] >= df.end_time[i]):

        dist_per_hour = df.tot_dist[
            i + 1] / (df.end_time[i + 1] - df.start_time[i + 1])
        dist_adjust = (df.end_time[i] -
                        df.start_time[i + 1]) * dist_per_hour
        
        dist_adjust = dist_adjust
        
        df.loc[(i + 1), 'tot_dist'] = df.tot_dist[i + 1] - dist_adjust
        df.loc[(i + 1), 'start_time'] = df.end_time[i]
        df.loc[(i + 1), 'duration'] = df.end_time[i + 1] - \
            df.start_time[i + 1]
        df.loc[i, 'duration'] = df.end_time[i] - df.start_time[i]
        
        if df.tot_dist[i + 1] < 1e-4:
            df.drop(index=(i + 1), inplace=True)
            df.reset_index(inplace=True)
            df.drop(columns=['index'], inplace=True)
        else:
            i += 1

    else:
        i += 1

KeyError: 8350

In [ ]:
df = df[df.duration>5e-4]
print_remainder(df)
print_all_info(df)
reset_df_dos(df)