# Steps Analysis (02/17/17 - 10/24/18)

In [56]:
import pandas as pd
import seaborn as sns
from bs4 import BeautifulSoup
import ast
from math import ceil

In [57]:
steps_df = pd.DataFrame(columns=['start_date', 'end_date',
                                 'num_steps', 'source'])
start_date_col = []
end_date_col = []
num_steps_col = []
source_col = []

In [58]:
with open('./data/export.xml') as fp:
    soup = BeautifulSoup(fp, 'lxml-xml')

In [59]:
steps = soup.findAll('Record', {'type': 'HKQuantityTypeIdentifierStepCount'})
for num in steps:
    start_date_col.append(num['startDate'])
    end_date_col.append(num['endDate'])
    num_steps_col.append(num['value'])
    source_col.append(num['sourceName'])

In [60]:
steps_df['start_date'] = start_date_col
steps_df['end_date'] = end_date_col
steps_df['num_steps'] = num_steps_col
steps_df['source'] = source_col

In [61]:
steps_df['num_steps'] = steps_df.num_steps.astype(int)

In [62]:
sd_df = steps_df.start_date.str.split(' ', expand=True)
sd_df.columns = ['start_date', 'start_time', 'time_zone']
sd_df = sd_df.drop(columns=['time_zone'])
sd_df['start_date'] = pd.to_datetime(sd_df['start_date'], format='%Y/%m/%d')
sd_df['start_time'] = pd.to_timedelta(sd_df['start_time'])

In [63]:
ed_df = steps_df.end_date.str.split(' ', expand=True)
ed_df.columns = ['end_date', 'end_time', 'time_zone']
ed_df = ed_df.drop(columns=['time_zone'])
ed_df['end_date'] = pd.to_datetime(ed_df['end_date'], format='%Y/%m/%d')
ed_df['end_time'] = pd.to_timedelta(ed_df['end_time'])

In [64]:
steps_df = steps_df.drop(columns=['start_date', 'end_date'])

In [65]:
dur_df = pd.concat([sd_df, ed_df], axis=1)
dur_df['sdt'] = dur_df['start_date']+dur_df['start_time']
dur_df['edt'] = dur_df['end_date']+dur_df['end_time']
dur_df['duration'] = dur_df['edt']-dur_df['sdt']
dur_df = dur_df.drop(columns=['sdt', 'edt'])
dur_df.head()

  start_date start_time   end_date end_time duration
0 2017-02-17   21:23:24 2017-02-17 21:30:42 00:07:18
1 2017-02-17   21:36:28 2017-02-17 21:44:19 00:07:51
2 2017-02-17   21:44:19 2017-02-17 21:51:52 00:07:33
3 2017-02-17   21:52:34 2017-02-17 21:58:37 00:06:03
4 2017-02-17   21:58:37 2017-02-17 22:07:35 00:08:58

In [103]:
df = pd.concat([steps_df, dur_df], axis=1)
df.columns

Index(['num_steps', 'source', 'start_date', 'start_time', 'end_date',
       'end_time', 'duration'],
      dtype='object')

In [104]:
df = df[['start_date', 'start_time', 'end_date',
         'end_time', 'num_steps', 'duration', 'source']]

In [105]:
df.sort_values(by=['start_date', 'start_time'], inplace=True)
df.tail(20)

      start_date start_time   end_date end_time  num_steps duration     source
27715 2018-10-24   13:18:52 2018-10-24 13:23:19         59 00:04:27     iPhone
27744 2018-10-24   14:00:59 2018-10-24 15:00:59         46 01:00:00  Connected
27745 2018-10-24   15:00:59 2018-10-24 16:00:59        164 01:00:00  Connected
27746 2018-10-24   16:00:59 2018-10-24 17:00:59        304 01:00:00  Connected
27716 2018-10-24   16:06:19 2018-10-24 16:15:56        153 00:09:37     iPhone
27717 2018-10-24   16:21:58 2018-10-24 16:22:29         76 00:00:31     iPhone
27747 2018-10-24   17:00:59 2018-10-24 17:49:59        790 00:49:00  Connected
27718 2018-10-24   17:02:07 2018-10-24 17:11:02        105 00:08:55     iPhone
27719 2018-10-24   17:17:57 2018-10-24 17:27:57        218 00:10:00     iPhone
27720 2018-10-24   17:28:38 2018-10-24 17:38:37        381 00:09:59     iPhone
27721 2018-10-24   17:38:37 2018-10-24 17:48:36        539 00:09:59     iPhone
27722 2018-10-24   17:48:36 2018-10-24 17:58:35        708 00:09:59     iPhone
27748 2018-10-24   17:49:59 2018-10-24 17:51:59        150 00:02:00  Connected
27749 2018-10-24   17:51:59 2018-10-24 17:54:59        102 00:03:00  Connected
27750 2018-10-24   17:54:59 2018-10-24 17:55:59         72 00:01:00  Connected
27751 2018-10-24   17:55:59 2018-10-24 18:00:59        176 00:05:00  Connected
27723 2018-10-24   17:58:35 2018-10-24 18:08:34        831 00:09:59     iPhone
27752 2018-10-24   18:00:59 2018-10-24 18:12:59        324 00:12:00  Connected
27753 2018-10-24   18:08:34 2018-10-24 18:18:35        868 00:10:01     iPhone
27754 2018-10-24   18:18:35 2018-10-24 18:19:26         86 00:00:51     iPhone

In [106]:
df['start_time'] = pd.to_numeric(df['start_time'])/3600000000000
df['end_time'] = pd.to_numeric(df['end_time'])/3600000000000
df['duration'] = pd.to_numeric(df['duration'])/3600000000000

In [107]:
# for num in range(len(df)):
#     if df['end_date'][num] != df['start_date'][num]:
#         df['duration'][num] = df['end_time'][num]+24 - df['start_time'][num]
# df.head()

In [108]:
# for num in range(len(df)):
#     if df.start_date[num] != df.end_date[num]:
#         total_steps = df.num_steps[num]
#         steps_per_min = total_steps/df.duration[num]
#         time_left_in_start_date = 24-df.start_time[num]
#         steps_for_start_date = ceil(time_left_in_start_date*60*steps_per_min)
#         steps_for_end_date = total_steps-steps_for_start_date
#         df.num_steps[num] = steps_for_start_date
#         df.num_steps[num+1] += steps_for_end_date
# df[5050:5100]

In [110]:
i = 0
while i<len(df):
    if (i in df.index) and (i+1 in df.index):
        if df['source'][i] == df['source'][i+1]:
            if df['end_time'][i] == df['start_time'][i+1]:
                df.loc[:,'end_time'][i] = df.loc[:,'end_time'][i+1]
                df.loc[:,'num_steps'][i] += df.loc[:,'num_steps'][i+1]
                df.loc[:,'duration'][i] += df.loc[:,'duration'][i+1]
                df.drop(df.index[i+1], inplace=True)
                print(df.iloc[i])
                i+=2
            else:
                i+=1
        else:
            i+=1
    else:
        i+=1

/home/guess/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/guess/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/guess/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

start_date    2017-02-17 00:00:00
start_time                21.9769
end_date      2017-02-17 00:00:00
end_time                  22.1264
num_steps                     215
duration                 0.149444
source                     iPhone
Name: 4, dtype: object
start_date    2017-02-18 00:00:00
start_time                16.9114
end_date      2017-02-18 00:00:00
end_time                  17.0781
num_steps                     161
duration                 0.166667
source                     iPhone
Name: 13, dtype: object
start_date    2017-02-18 00:00:00
start_time                17.7008
end_date      2017-02-18 00:00:00
end_time                  17.8506
num_steps                     459
duration                 0.149722
source                     iPhone
Name: 18, dtype: object
start_date    2017-02-18 00:00:00
start_time                18.5017
end_date      2017-02-18 00:00:00
end_time                  18.6669
num_steps                     239
duration                 0.165278
source                     iPhone
Name: 21, dtype: object
start_date    2017-02-18 00:00:00
start_time                21.5708
end_date      2017-02-18 00:00:00
end_time                  21.7342
num_steps                      10
duration                 0.163333
source                     iPhone
Name: 29, dtype: object
start_date    2017-02-19 00:00:00
start_time                12.8222
end_date      2017-02-19 00:00:00
end_time                  12.9853
num_steps                      45
duration                 0.163056
source                     iPhone
Name: 34, dtype: object
start_date    2017-02-19 00:00:00
start_time                15.0203
end_date      2017-02-19 00:00:00
end_time                  15.0367
num_steps                      20
duration                0.0163889
source                     iPhone
Name: 44, dtype: object
start_date    2017-02-19 00:00:00
start_time                16.0406
end_date      2017-02-19 00:00:00
end_time                   16.195
num_steps                     167
duration                 0.154444
source                     iPhone
Name: 47, dtype: object
start_date    2017-02-19 00:00:00
start_time                20.0372
end_date      2017-02-19 00:00:00
end_time                  20.1294
num_steps                      51
duration                0.0922222
source                     iPhone
Name: 52, dtype: object
start_date    2017-02-19 00:00:00
start_time                21.4819
end_date      2017-02-19 00:00:00
end_time                  21.5883
num_steps                      34
duration                 0.106389
source                     iPhone
Name: 61, dtype: object
start_date    2017-02-19 00:00:00
start_time                23.1869
end_date      2017-02-19 00:00:00
end_time                  23.3147
num_steps                      73
duration                 0.127778
source                     iPhone
Name: 65, dtype: object
start_date    2017-02-20 00:00:00
start_time                11.0597
end_date      2017-02-20 00:00:00
end_time                  11.1872
num_steps                      80
duration                   0.1275
source                     iPhone
Name: 71, dtype: object
start_date    2017-02-20 00:00:00
start_time                16.3608
end_date      2017-02-20 00:00:00
end_time                  16.4958
num_steps                      68
duration                    0.135
source                     iPhone
Name: 81, dtype: object
start_date    2017-02-20 00:00:00
start_time                 18.085
end_date      2017-02-20 00:00:00
end_time                  18.2089
num_steps                      99
duration                 0.123889
source                     iPhone
Name: 84, dtype: object
start_date    2017-02-20 00:00:00
start_time                22.0783
end_date      2017-02-20 00:00:00
end_time                  22.2069
num_steps                      33
duration                 0.128611
source                     iPhone
Name: 94, dtype: object
start_date    2017-02-20 00:00:00
start_time                23.8219
end_date      2017-02-20 00:00:00
end_time                  23.8392
num_steps                      16
duration                0.0172222
source                     iPhone
Name: 99, dtype: object
start_date    2017-02-21 00:00:00
start_time                13.6542
end_date      2017-02-21 00:00:00
end_time                  13.7919
num_steps                      37
duration                 0.137778
source                     iPhone
Name: 106, dtype: object
start_date    2017-02-21 00:00:00
start_time                18.0703
end_date      2017-02-21 00:00:00
end_time                  18.2333
num_steps                      97
duration                 0.163056
source                     iPhone
Name: 114, dtype: object
start_date    2017-02-21 00:00:00
start_time                  20.75
end_date      2017-02-21 00:00:00
end_time                  20.8786
num_steps                       9
duration                 0.128611
source                     iPhone
Name: 117, dtype: object
start_date    2017-02-21 00:00:00
start_time                22.2403
end_date      2017-02-21 00:00:00
end_time                  22.3511
num_steps                      46
duration                 0.110833
source                     iPhone
Name: 124, dtype: object
start_date    2017-02-21 00:00:00
start_time                23.1842
end_date      2017-02-21 00:00:00
end_time                  23.3231
num_steps                      64
duration                 0.138889
source                     iPhone
Name: 130, dtype: object
start_date    2017-02-22 00:00:00
start_time                10.5172
end_date      2017-02-22 00:00:00
end_time                   10.525
num_steps                      16
duration               0.00777778
source                     iPhone
Name: 134, dtype: object
start_date    2017-02-22 00:00:00
start_time                16.7108
end_date      2017-02-22 00:00:00
end_time                    16.84
num_steps                      33
duration                 0.129167
source                     iPhone
Name: 144, dtype: object
start_date    2017-02-22 00:00:00
start_time                20.4261
end_date      2017-02-22 00:00:00
end_time                  20.5683
num_steps                     109
duration                 0.142222
source                     iPhone
Name: 150, dtype: object
start_date    2017-02-22 00:00:00
start_time                21.2192
end_date      2017-02-22 00:00:00
end_time                  21.3336
num_steps                      26
duration                 0.114444
source                     iPhone
Name: 153, dtype: object
start_date    2017-02-23 00:00:00
start_time                8.21806
end_date      2017-02-23 00:00:00
end_time                  8.35667
num_steps                       8
duration                 0.138611
source                     iPhone
Name: 159, dtype: object
start_date    2017-02-23 00:00:00
start_time                10.1819
end_date      2017-02-23 00:00:00
end_time                  10.3481
num_steps                     118
duration                 0.166111
source                     iPhone
Name: 164, dtype: object

KeyboardInterrupt:

In [111]:
df.head(60)

   start_date  start_time   end_date   end_time  num_steps  duration  source
0  2017-02-17   21.390000 2017-02-17  21.511667         58  0.121667  iPhone
1  2017-02-17   21.607778 2017-02-17  21.864444        220  0.256667  iPhone
3  2017-02-17   21.876111 2017-02-17  22.126389        233  0.250278  iPhone
4  2017-02-17   21.976944 2017-02-17  22.126389        215  0.149444  iPhone
6  2017-02-17   22.425000 2017-02-17  22.574722         18  0.149722  iPhone
7  2017-02-17   22.854722 2017-02-17  22.986389          6  0.131667  iPhone
8  2017-02-18    9.919167 2017-02-18  10.020556         19  0.101389  iPhone
9  2017-02-18   11.562500 2017-02-18  11.668056         16  0.105556  iPhone
10 2017-02-18   14.168056 2017-02-18  14.296667         20  0.128611  iPhone
11 2017-02-18   16.658056 2017-02-18  16.902778         51  0.244722  iPhone
12 2017-02-18   16.814722 2017-02-18  16.902778         18  0.088056  iPhone
13 2017-02-18   16.911389 2017-02-18  17.078056        161  0.166667  iPhone
15 2017-02-18   17.238611 2017-02-18  17.534722        346  0.296111  iPhone
16 2017-02-18   17.397500 2017-02-18  17.534722         95  0.137222  iPhone
17 2017-02-18   17.534722 2017-02-18  17.850556        679  0.315833  iPhone
18 2017-02-18   17.700833 2017-02-18  17.850556        459  0.149722  iPhone
20 2017-02-18   18.096667 2017-02-18  18.206667         35  0.110000  iPhone
21 2017-02-18   18.501667 2017-02-18  18.666944        239  0.165278  iPhone
23 2017-02-18   18.817778 2017-02-18  18.861667         77  0.043889  iPhone
24 2017-02-18   19.016389 2017-02-18  19.263333        273  0.246944  iPhone
25 2017-02-18   19.165833 2017-02-18  19.263333         64  0.097500  iPhone
26 2017-02-18   19.392222 2017-02-18  19.475278         39  0.083056  iPhone
27 2017-02-18   20.536667 2017-02-18  20.639444         18  0.102778  iPhone
28 2017-02-18   21.470000 2017-02-18  21.734167         28  0.264167  iPhone
29 2017-02-18   21.570833 2017-02-18  21.734167         10  0.163333  iPhone
31 2017-02-18   21.900278 2017-02-18  21.918056         39  0.017778  iPhone
32 2017-02-18   22.173056 2017-02-18  22.256944         18  0.083889  iPhone
33 2017-02-18   23.703056 2017-02-18  23.823889         13  0.120833  iPhone
34 2017-02-19   12.822222 2017-02-19  12.985278         45  0.163056  iPhone
36 2017-02-19   13.155833 2017-02-19  13.299444        152  0.143611  iPhone
37 2017-02-19   13.955278 2017-02-19  14.185556        199  0.230278  iPhone
38 2017-02-19   14.119167 2017-02-19  14.185556         70  0.066389  iPhone
39 2017-02-19   14.229444 2017-02-19  14.562222        252  0.332778  iPhone
40 2017-02-19   14.396111 2017-02-19  14.562222        149  0.166111  iPhone
41 2017-02-19   14.562222 2017-02-19  14.569167         16  0.006944  iPhone
42 2017-02-19   14.677500 2017-02-19  14.834722        109  0.157222  iPhone
43 2017-02-19   14.853611 2017-02-19  15.036667         93  0.183056  iPhone
44 2017-02-19   15.020278 2017-02-19  15.036667         20  0.016389  iPhone
46 2017-02-19   15.437500 2017-02-19  15.469722          5  0.032222  iPhone
47 2017-02-19   16.040556 2017-02-19  16.195000        167  0.154444  iPhone
49 2017-02-19   17.742778 2017-02-19  17.883611        175  0.140833  iPhone
50 2017-02-19   19.578889 2017-02-19  19.667778         65  0.088889  iPhone
51 2017-02-19   19.870556 2017-02-19  20.129444        359  0.258889  iPhone
52 2017-02-19   20.037222 2017-02-19  20.129444         51  0.092222  iPhone
54 2017-02-19   20.407222 2017-02-19  20.597500         34  0.190278  iPhone
55 2017-02-19   20.510278 2017-02-19  20.597500          8  0.087222  iPhone
56 2017-02-19   20.597500 2017-02-19  20.598333          4  0.000833  iPhone
57 2017-02-19   20.680556 2017-02-19  20.791389         49  0.110833  iPhone
58 2017-02-19   20.889444 2017-02-19  21.001111         59  0.111667  iPhone
59 2017-02-19   21.081944 2017-02-19  21.301389        226  0.219444  iPhone
60 2017-02-19   21.248611 2017-02-19  21.301389        115  0.052778  iPhone
61 2017-02-19   21.481944 2017-02-19  21.588333         34  0.106389  iPhone
63 2017-02-19   21.809444 2017-02-19  21.836667         40  0.027222  iPhone
64 2017-02-19   21.898333 2017-02-19  22.026944        192  0.128611  iPhone
65 2017-02-19   23.186944 2017-02-19  23.314722         73  0.127778  iPhone
67 2017-02-20    9.916667 2017-02-20  10.020833         28  0.104167  iPhone
68 2017-02-20   10.598611 2017-02-20  10.796667        243  0.198056  iPhone
69 2017-02-20   10.765000 2017-02-20  10.796667        149  0.031667  iPhone
70 2017-02-20   10.893333 2017-02-20  11.187222        194  0.293889  iPhone
71 2017-02-20   11.059722 2017-02-20  11.187222         80  0.127500  iPhone