# Steps Analysis (02/17/17 - 10/24/18)

In [161]:
import pandas as pd
import seaborn as sns
from bs4 import BeautifulSoup
import ast
from math import ceil

In [162]:
steps_df = pd.DataFrame(columns=['start_date', 'end_date',
                                 'num_steps', 'source'])
start_date_col = []
end_date_col = []
num_steps_col = []
source_col = []

In [163]:
with open('./data/export.xml') as fp:
    soup = BeautifulSoup(fp, 'lxml-xml')

In [164]:
steps = soup.findAll('Record', {'type': 'HKQuantityTypeIdentifierStepCount'})
for num in steps:
    start_date_col.append(num['startDate'])
    end_date_col.append(num['endDate'])
    num_steps_col.append(num['value'])
    source_col.append(num['sourceName'])

In [165]:
steps_df['start_date'] = start_date_col
steps_df['end_date'] = end_date_col
steps_df['num_steps'] = num_steps_col
steps_df['source'] = source_col

In [166]:
steps_df['num_steps'] = steps_df.num_steps.astype(int)

In [141]:
sd_df = steps_df.start_date.str.split(' ', expand=True)
sd_df.columns = ['start_date', 'start_time', 'time_zone']
sd_df = sd_df.drop(columns=['time_zone'])
sd_df['start_date'] = pd.to_datetime(sd_df['start_date'], format='%Y/%m/%d')
sd_df['start_time'] = pd.to_timedelta(sd_df['start_time'])

In [142]:
ed_df = steps_df.end_date.str.split(' ', expand=True)
ed_df.columns = ['end_date', 'end_time', 'time_zone']
ed_df = ed_df.drop(columns=['time_zone'])
ed_df['end_date'] = pd.to_datetime(ed_df['end_date'], format='%Y/%m/%d')
ed_df['end_time'] = pd.to_timedelta(ed_df['end_time'])

In [143]:
steps_df = steps_df.drop(columns=['start_date', 'end_date'])

In [178]:
dur_df = pd.concat([sd_df, ed_df], axis=1)
dur_df['sdt'] = dur_df['start_date']+dur_df['start_time']
dur_df['edt'] = dur_df['end_date']+dur_df['end_time']
dur_df['duration'] = dur_df['edt']-dur_df['sdt']
dur_df = dur_df.drop(columns=['sdt', 'edt'])
dur_df.head()

  start_date start_time   end_date end_time duration
0 2017-02-17   21:23:24 2017-02-17 21:30:42 00:07:18
1 2017-02-17   21:36:28 2017-02-17 21:44:19 00:07:51
2 2017-02-17   21:44:19 2017-02-17 21:51:52 00:07:33
3 2017-02-17   21:52:34 2017-02-17 21:58:37 00:06:03
4 2017-02-17   21:58:37 2017-02-17 22:07:35 00:08:58

In [180]:
steps_df = steps_df.drop(columns=['start_date', 'end_date'])

In [196]:
df = pd.concat([steps_df, dur_df], axis=1)
df.columns

Index(['num_steps', 'source', 'start_date', 'start_time', 'end_date',
       'end_time', 'duration'],
      dtype='object')

In [197]:
df = df[['start_date', 'start_time', 'end_date',
         'end_time', 'num_steps', 'duration', 'source']]

In [198]:
df.sort_values(by=['start_date', 'start_time'], inplace=True)
df.tail(20)

      start_date start_time   end_date end_time  num_steps duration     source
27715 2018-10-24   13:18:52 2018-10-24 13:23:19         59 00:04:27     iPhone
27744 2018-10-24   14:00:59 2018-10-24 15:00:59         46 01:00:00  Connected
27745 2018-10-24   15:00:59 2018-10-24 16:00:59        164 01:00:00  Connected
27746 2018-10-24   16:00:59 2018-10-24 17:00:59        304 01:00:00  Connected
27716 2018-10-24   16:06:19 2018-10-24 16:15:56        153 00:09:37     iPhone
27717 2018-10-24   16:21:58 2018-10-24 16:22:29         76 00:00:31     iPhone
27747 2018-10-24   17:00:59 2018-10-24 17:49:59        790 00:49:00  Connected
27718 2018-10-24   17:02:07 2018-10-24 17:11:02        105 00:08:55     iPhone
27719 2018-10-24   17:17:57 2018-10-24 17:27:57        218 00:10:00     iPhone
27720 2018-10-24   17:28:38 2018-10-24 17:38:37        381 00:09:59     iPhone
27721 2018-10-24   17:38:37 2018-10-24 17:48:36        539 00:09:59     iPhone
27722 2018-10-24   17:48:36 2018-10-24 17:58:35        708 00:09:59     iPhone
27748 2018-10-24   17:49:59 2018-10-24 17:51:59        150 00:02:00  Connected
27749 2018-10-24   17:51:59 2018-10-24 17:54:59        102 00:03:00  Connected
27750 2018-10-24   17:54:59 2018-10-24 17:55:59         72 00:01:00  Connected
27751 2018-10-24   17:55:59 2018-10-24 18:00:59        176 00:05:00  Connected
27723 2018-10-24   17:58:35 2018-10-24 18:08:34        831 00:09:59     iPhone
27752 2018-10-24   18:00:59 2018-10-24 18:12:59        324 00:12:00  Connected
27753 2018-10-24   18:08:34 2018-10-24 18:18:35        868 00:10:01     iPhone
27754 2018-10-24   18:18:35 2018-10-24 18:19:26         86 00:00:51     iPhone

In [199]:
df['start_time'] = pd.to_numeric(df['start_time'])/3600000000000
df['end_time'] = pd.to_numeric(df['end_time'])/3600000000000
df['duration'] = pd.to_numeric(df['duration'])/3600000000000

In [200]:
# for num in range(len(df)):
#     if df['end_date'][num] != df['start_date'][num]:
#         df['duration'][num] = df['end_time'][num]+24 - df['start_time'][num]
# df.head()

In [207]:
# for num in range(len(df)):
#     if df.start_date[num] != df.end_date[num]:
#         total_steps = df.num_steps[num]
#         steps_per_min = total_steps/df.duration[num]
#         time_left_in_start_date = 24-df.start_time[num]
#         steps_for_start_date = ceil(time_left_in_start_date*60*steps_per_min)
#         steps_for_end_date = total_steps-steps_for_start_date
#         df.num_steps[num] = steps_for_start_date
#         df.num_steps[num+1] += steps_for_end_date
# df[5050:5100]

In [211]:
df.groupby('end_date').sum().head(60)

             start_time     end_time  num_steps  duration
end_date
2017-02-17   176.142778   177.204167        812  1.061389
2017-02-18   475.579722   478.716944       2668  3.137222
2017-02-19   570.570556   574.096111       2991  3.525556
2017-02-20   629.371389   633.515833       2812  4.144444
2017-02-21   531.381667   535.065833       2819  3.684167
2017-02-22   450.330278   453.641944       2559  3.311667
2017-02-23   623.042778   628.317778       4396  5.275000
2017-02-24   516.233333   520.597778       3060  4.364444
2017-02-25   852.039444   858.344444       5420  6.305000
2017-02-26   519.848333   499.372222       1611  3.523889
2017-02-27   319.443056   322.035000       1763  2.591944
2017-02-28   421.917778   425.540556       2853  3.622778
2017-03-01   442.773056   446.288333       2770  3.515278
2017-03-02   404.422222   407.464722       2303  3.042500
2017-03-03   523.756944   527.695000       3319  3.938056
2017-03-04   514.186667   518.555833       3762  4.369167
2017-03-05   413.508333   416.652500       2511  3.144167
2017-03-06   466.269444   470.112500       3214  3.843056
2017-03-07   462.021944   465.701667       2842  3.679722
2017-03-08   428.837778   432.221667       2228  3.383889
2017-03-09   301.057222   303.495833       1725  2.438611
2017-03-10   332.818056   335.785278       2293  2.967222
2017-03-11   807.914722   814.803056       6884  6.888333
2017-03-12   612.405833   616.613333       3423  4.207500
2017-03-13   593.685556   598.497222       3508  4.811667
2017-03-14   490.474722   494.469167       2918  3.994444
2017-03-15   659.359167   665.469167       5534  6.110000
2017-03-16   536.621389   540.932500       2639  4.311111
2017-03-17   414.945000   418.639444       2688  3.694444
2017-03-18   656.626944   662.415278       4842  5.788333
2017-03-19   419.142778   421.867500       2763  2.724722
2017-03-20   383.127222   386.121389       2729  2.994167
2017-03-21   578.983611   584.173056       3471  5.189444
2017-03-22   520.106944   524.765278       3867  4.658333
2017-03-23   288.632500   291.202778       1697  2.570278
2017-03-24   467.443889   470.701944       2727  3.258056
2017-03-25   775.556111   781.558611       5330  6.002500
2017-03-26   551.181944   555.443056       3452  4.261111
2017-03-27   286.276944   288.736389       1753  2.459444
2017-03-28   640.871111   646.166389       4250  5.295278
2017-03-29   510.442778   515.059167       3032  4.616389
2017-03-30   504.104167   508.041389       2735  3.937222
2017-03-31   679.882222   685.195278       3948  5.313056
2017-04-01  1198.870833  1208.256944       5902  9.386111
2017-04-02   929.182222   936.852500       5990  7.670278
2017-04-03   481.878889   485.826667       2607  3.947778
2017-04-04   660.301944   665.872500       3642  5.570556
2017-04-05   499.059722   503.042222       2988  3.982500
2017-04-06   601.049444   605.818056       2657  4.768611
2017-04-07   348.871667   351.841944       1947  2.970278
2017-04-08   555.369722   560.926944       4777  5.557222
2017-04-09   441.882500   445.412222       3192  3.529722
2017-04-10   347.578889   350.986667       2263  3.407778
2017-04-11   536.737500   541.891111       4044  5.153611
2017-04-12   555.045000   560.031111       4173  4.986111
2017-04-13   821.035556   828.133611       7038  7.098056
2017-04-14   694.194444   699.968056       4100  5.773611
2017-04-15   643.353889   648.762222       4766  5.408333
2017-04-16   343.823889   346.254444       1344  2.430556
2017-04-17   426.665000   430.347778       2971  3.682778