# Steps Analysis (02/17/17 - 10/24/18)

In [1]:
import pandas as pd
import seaborn as sns
from bs4 import BeautifulSoup
import ast
from math import ceil

In [2]:
steps_df = pd.DataFrame(columns=['start_date', 'end_date',
                                 'num_steps', 'source'])
start_date_col = []
end_date_col = []
num_steps_col = []
source_col = []

In [3]:
with open('./data/export.xml') as fp:
    soup = BeautifulSoup(fp, 'lxml-xml')

In [4]:
steps = soup.findAll('Record', {'type': 'HKQuantityTypeIdentifierStepCount'})
for num in steps:
    start_date_col.append(num['startDate'])
    end_date_col.append(num['endDate'])
    num_steps_col.append(num['value'])
    source_col.append(num['sourceName'])

In [5]:
steps_df['start_date'] = start_date_col
steps_df['end_date'] = end_date_col
steps_df['num_steps'] = num_steps_col
steps_df['source'] = source_col

In [6]:
steps_df['num_steps'] = steps_df.num_steps.astype(int)

In [103]:
steps_df['num_steps'].sum()

4952676

In [7]:
sd_df = steps_df.start_date.str.split(' ', expand=True)
sd_df.columns = ['start_date', 'start_time', 'time_zone']
sd_df = sd_df.drop(columns=['time_zone'])
sd_df['start_date'] = pd.to_datetime(sd_df['start_date'], format='%Y/%m/%d')
sd_df['start_time'] = pd.to_timedelta(sd_df['start_time'])

In [8]:
ed_df = steps_df.end_date.str.split(' ', expand=True)
ed_df.columns = ['end_date', 'end_time', 'time_zone']
ed_df = ed_df.drop(columns=['time_zone'])
ed_df['end_date'] = pd.to_datetime(ed_df['end_date'], format='%Y/%m/%d')
ed_df['end_time'] = pd.to_timedelta(ed_df['end_time'])

In [9]:
steps_df = steps_df.drop(columns=['start_date', 'end_date'])

In [10]:
dur_df = pd.concat([sd_df, ed_df], axis=1)
dur_df['sdt'] = dur_df['start_date']+dur_df['start_time']
dur_df['edt'] = dur_df['end_date']+dur_df['end_time']
dur_df['duration'] = dur_df['edt']-dur_df['sdt']
dur_df = dur_df.drop(columns=['sdt', 'edt'])
dur_df.head()

  start_date start_time   end_date end_time duration
0 2017-02-17   21:23:24 2017-02-17 21:30:42 00:07:18
1 2017-02-17   21:36:28 2017-02-17 21:44:19 00:07:51
2 2017-02-17   21:44:19 2017-02-17 21:51:52 00:07:33
3 2017-02-17   21:52:34 2017-02-17 21:58:37 00:06:03
4 2017-02-17   21:58:37 2017-02-17 22:07:35 00:08:58

In [29]:
df = pd.concat([steps_df, dur_df], axis=1)
df.columns

Index(['num_steps', 'source', 'start_date', 'start_time', 'end_date',
       'end_time', 'duration'],
      dtype='object')

In [30]:
df = df[['start_date', 'start_time', 'end_date',
         'end_time', 'num_steps', 'duration', 'source']]

In [31]:
df.sort_values(by=['start_date', 'start_time'], inplace=True)
df.tail(20)

      start_date start_time   end_date end_time  num_steps duration     source
27715 2018-10-24   13:18:52 2018-10-24 13:23:19         59 00:04:27     iPhone
27744 2018-10-24   14:00:59 2018-10-24 15:00:59         46 01:00:00  Connected
27745 2018-10-24   15:00:59 2018-10-24 16:00:59        164 01:00:00  Connected
27746 2018-10-24   16:00:59 2018-10-24 17:00:59        304 01:00:00  Connected
27716 2018-10-24   16:06:19 2018-10-24 16:15:56        153 00:09:37     iPhone
27717 2018-10-24   16:21:58 2018-10-24 16:22:29         76 00:00:31     iPhone
27747 2018-10-24   17:00:59 2018-10-24 17:49:59        790 00:49:00  Connected
27718 2018-10-24   17:02:07 2018-10-24 17:11:02        105 00:08:55     iPhone
27719 2018-10-24   17:17:57 2018-10-24 17:27:57        218 00:10:00     iPhone
27720 2018-10-24   17:28:38 2018-10-24 17:38:37        381 00:09:59     iPhone
27721 2018-10-24   17:38:37 2018-10-24 17:48:36        539 00:09:59     iPhone
27722 2018-10-24   17:48:36 2018-10-24 17:58:35        708 00:09:59     iPhone
27748 2018-10-24   17:49:59 2018-10-24 17:51:59        150 00:02:00  Connected
27749 2018-10-24   17:51:59 2018-10-24 17:54:59        102 00:03:00  Connected
27750 2018-10-24   17:54:59 2018-10-24 17:55:59         72 00:01:00  Connected
27751 2018-10-24   17:55:59 2018-10-24 18:00:59        176 00:05:00  Connected
27723 2018-10-24   17:58:35 2018-10-24 18:08:34        831 00:09:59     iPhone
27752 2018-10-24   18:00:59 2018-10-24 18:12:59        324 00:12:00  Connected
27753 2018-10-24   18:08:34 2018-10-24 18:18:35        868 00:10:01     iPhone
27754 2018-10-24   18:18:35 2018-10-24 18:19:26         86 00:00:51     iPhone

In [32]:
df['start_time'] = pd.to_numeric(df['start_time'])/3600000000000
df['end_time'] = pd.to_numeric(df['end_time'])/3600000000000
df['duration'] = pd.to_numeric(df['duration'])/3600000000000

In [33]:
# for num in range(len(df)):
#     if df['end_date'][num] != df['start_date'][num]:
#         df['duration'][num] = df['end_time'][num]+24 - df['start_time'][num]
# df.head()

In [24]:
# for num in range(len(df)):
#     if df.start_date[num] != df.end_date[num]:
#         total_steps = df.num_steps[num]
#         steps_per_min = total_steps/df.duration[num]
#         time_left_in_start_date = 24-df.start_time[num]
#         steps_for_start_date = ceil(time_left_in_start_date*60*steps_per_min)
#         steps_for_end_date = total_steps-steps_for_start_date
#         df.num_steps[num] = steps_for_start_date
#         df.num_steps[num+1] += steps_for_end_date
# df[5050:5100]

In [97]:
i = 0
while i < len(df):
    if (i in df.index) and (i+1 in df.index):
        if df['source'][i] == df['source'][i+1]:
            if df['end_time'][i] == df['start_time'][i+1]:
                df.loc[i, 'end_time'] = df.loc[(i+1), 'end_time']
                df.loc[i, 'end_date'] = df.loc[(i+1), 'end_date']
                df.loc[i, 'num_steps'] += df.loc[(i+1), 'num_steps']
                df.loc[i, 'duration'] += df.loc[(i+1), 'duration']
                df.drop(index=(i+1), inplace=True)
                i += 2
            else:
                i += 1
        else:
            i += 1
    else:
        i += 1

In [98]:
df.reset_index(inplace=True)
df.drop(columns=['index'], inplace=True)

In [99]:
len(df)

13096

In [105]:
df.tail(60)

,start_date,start_time,end_date,end_time,num_steps,duration,source
13036,2018-10-23,18.001667,2018-10-23,18.151667,604,0.150000,Connected
13037,2018-10-23,18.125556,2018-10-23,18.292778,751,0.167222,iPhone
13038,2018-10-23,18.151667,2018-10-23,18.318333,648,0.166667,Connected
13039,2018-10-23,18.292778,2018-10-23,18.451944,483,0.159167,iPhone
13040,2018-10-23,18.318333,2018-10-23,19.001667,714,0.683333,Connected
13041,2018-10-23,18.851111,2018-10-23,19.002778,164,0.151667,iPhone
13042,2018-10-23,19.001667,2018-10-23,20.001667,276,1.000000,Connected
13043,2018-10-23,19.062500,2018-10-23,19.144167,62,0.081667,iPhone
13044,2018-10-23,19.241667,2018-10-23,19.533333,164,0.291667,iPhone
13045,2018-10-23,19.877778,2018-10-23,19.877778,4,0.000000,iPhone
13046,2018-10-23,20.001667,2018-10-23,21.001667,476,1.000000,Connected
13047,2018-10-23,20.297500,2018-10-23,20.463333,128,0.165833,iPhone
13048,2018-10-23,20.471111,2018-10-23,20.634722,179,0.163611,iPhone
13049,2018-10-23,20.696389,2018-10-23,20.773889,38,0.077500,iPhone
13050,2018-10-23,21.001667,2018-10-23,22.001667,164,1.000000,Connected
13051,2018-10-23,21.059167,2018-10-23,21.060000,12,0.000833,iPhone
13052,2018-10-23,22.001667,2018-10-23,23.001667,544,1.000000,Connected
13053,2018-10-23,22.902778,2018-10-23,22.903333,18,0.000556,iPhone
13054,2018-10-23,23.001667,2018-10-24,1.985000,50,2.983333,Connected
13055,2018-10-24,2.001389,2018-10-24,8.084722,122,6.083333,Connected
13056,2018-10-24,8.083056,2018-10-24,8.333056,294,0.250000,Connected
13057,2018-10-24,8.145000,2018-10-24,8.306667,323,0.161667,iPhone
13058,2018-10-24,8.321111,2018-10-24,8.488056,870,0.166944,iPhone
13059,2018-10-24,8.333056,2018-10-24,8.533056,700,0.200000,Connected
13060,2018-10-24,8.488056,2018-10-24,8.622222,536,0.134167,iPhone
13061,2018-10-24,8.533056,2018-10-24,9.016389,472,0.483333,Connected
13062,2018-10-24,8.654722,2018-10-24,8.760833,71,0.106111,iPhone
13063,2018-10-24,8.831111,2018-10-24,8.848056,31,0.016944,iPhone
13064,2018-10-24,9.016389,2018-10-24,10.016389,106,1.000000,Connected
13065,2018-10-24,9.715000,2018-10-24,9.736389,44,0.021389,iPhone
13066,2018-10-24,9.982222,2018-10-24,10.103333,90,0.121111,iPhone
13067,2018-10-24,10.016389,2018-10-24,11.016389,416,1.000000,Connected
13068,2018-10-24,10.153611,2018-10-24,10.155278,17,0.001667,iPhone
13069,2018-10-24,10.412500,2018-10-24,10.573611,218,0.161111,iPhone
13070,2018-10-24,10.853889,2018-10-24,11.013611,166,0.159722,iPhone
13071,2018-10-24,11.016389,2018-10-24,11.533056,176,0.516667,Connected
13072,2018-10-24,11.040833,2018-10-24,11.183333,129,0.142500,iPhone
13073,2018-10-24,11.488056,2018-10-24,11.539444,192,0.051389,iPhone
13074,2018-10-24,11.533056,2018-10-24,12.016389,502,0.483333,Connected
13075,2018-10-24,11.759167,2018-10-24,11.912500,80,0.153333,iPhone
13076,2018-10-24,12.016389,2018-10-24,13.016389,1082,1.000000,Connected
13077,2018-10-24,12.115833,2018-10-24,12.116667,20,0.000833,iPhone
13078,2018-10-24,12.300000,2018-10-24,12.333333,145,0.033333,iPhone
13079,2018-10-24,12.632500,2018-10-24,12.960000,1404,0.327500,iPhone
13080,2018-10-24,12.976944,2018-10-24,13.143611,1050,0.166667,iPhone
13081,2018-10-24,13.016389,2018-10-24,13.199722,902,0.183333,Connected
13082,2018-10-24,13.143611,2018-10-24,13.291111,527,0.147500,iPhone
13083,2018-10-24,13.199722,2018-10-24,14.016389,214,0.816667,Connected
13084,2018-10-24,13.314444,2018-10-24,13.388611,59,0.074167,iPhone
13085,2018-10-24,14.016389,2018-10-24,17.016389,514,3.000000,Connected
13086,2018-10-24,16.105278,2018-10-24,16.265556,153,0.160278,iPhone
13087,2018-10-24,16.366111,2018-10-24,16.374722,76,0.008611,iPhone
13088,2018-10-24,17.016389,2018-10-24,17.833056,790,0.816667,Connected
13089,2018-10-24,17.035278,2018-10-24,17.183889,105,0.148611,iPhone
13090,2018-10-24,17.299167,2018-10-24,17.465833,218,0.166667,iPhone
13091,2018-10-24,17.477222,2018-10-24,17.976389,1628,0.499167,iPhone
13092,2018-10-24,17.833056,2018-10-24,18.016389,500,0.183333,Connected
13093,2018-10-24,17.976389,2018-10-24,18.142778,831,0.166389,iPhone
13094,2018-10-24,18.016389,2018-10-24,18.216389,324,0.200000,Connected
13095,2018-10-24,18.142778,2018-10-24,18.323889,954,0.181111,iPhone

In [107]:
'num_steps', 'source', 'start_date', 'start_time', 'end_date',
       'end_time', 'duration'

IndentationError: unexpected indent (<ipython-input-107-d90e0401648c>, line 2)

In [129]:
i = 0
while i < len(df)-1:
    if df.source[i] != df.source[i+1]:
        if df.start_time[i] <= df.start_time[i+1]:
            if df.end_time[i] >= df.end_time[i+1]:
                df.drop(index=(i+1), inplace=True)
                i+=2
            else:
                i+=1
        else:
            i+=1
    else:
        i+=1

In [130]:
df.reset_index(inplace=True)
df.drop(columns=['index'], inplace=True)
len(df)

12253

In [131]:
df.tail(60)

,start_date,start_time,end_date,end_time,num_steps,duration,source
12193,2018-10-22,21.381667,2018-10-22,21.543056,817,0.161389,iPhone
12194,2018-10-22,21.385000,2018-10-22,22.001667,936,0.616667,Connected
12195,2018-10-22,22.001667,2018-10-22,23.001667,334,1.000000,Connected
12196,2018-10-22,23.001667,2018-10-23,4.985000,160,5.983333,Connected
12197,2018-10-23,5.001389,2018-10-23,8.001389,348,3.000000,Connected
12198,2018-10-23,7.786667,2018-10-23,8.120278,1159,0.333611,iPhone
12199,2018-10-23,8.001389,2018-10-23,8.134722,378,0.133333,Connected
12200,2018-10-23,8.120278,2018-10-23,8.273056,529,0.152778,iPhone
12201,2018-10-23,8.134722,2018-10-23,8.718056,644,0.583333,Connected
12202,2018-10-23,8.718056,2018-10-23,9.151389,206,0.433333,Connected
12203,2018-10-23,9.168333,2018-10-23,10.001667,158,0.833333,Connected
12204,2018-10-23,9.998333,2018-10-23,10.024722,36,0.026389,iPhone
12205,2018-10-23,10.001667,2018-10-23,13.001667,508,3.000000,Connected
12206,2018-10-23,12.982500,2018-10-23,13.148889,826,0.166389,iPhone
12207,2018-10-23,13.001667,2018-10-23,14.001667,1026,1.000000,Connected
12208,2018-10-23,13.993889,2018-10-23,14.155278,352,0.161389,iPhone
12209,2018-10-23,14.001667,2018-10-23,15.001667,692,1.000000,Connected
12210,2018-10-23,15.001667,2018-10-23,15.935000,292,0.933333,Connected
12211,2018-10-23,15.868056,2018-10-23,16.032222,203,0.164167,iPhone
12212,2018-10-23,15.935000,2018-10-23,17.001667,648,1.066667,Connected
12213,2018-10-23,16.943611,2018-10-23,17.100000,324,0.156389,iPhone
12214,2018-10-23,17.001667,2018-10-23,17.835000,712,0.833333,Connected
12215,2018-10-23,17.792500,2018-10-23,17.959444,756,0.166944,iPhone
12216,2018-10-23,17.835000,2018-10-23,18.001667,564,0.166667,Connected
12217,2018-10-23,17.959444,2018-10-23,18.125556,838,0.166111,iPhone
12218,2018-10-23,18.001667,2018-10-23,18.151667,604,0.150000,Connected
12219,2018-10-23,18.125556,2018-10-23,18.292778,751,0.167222,iPhone
12220,2018-10-23,18.151667,2018-10-23,18.318333,648,0.166667,Connected
12221,2018-10-23,18.292778,2018-10-23,18.451944,483,0.159167,iPhone
12222,2018-10-23,18.318333,2018-10-23,19.001667,714,0.683333,Connected
12223,2018-10-23,18.851111,2018-10-23,19.002778,164,0.151667,iPhone
12224,2018-10-23,19.001667,2018-10-23,20.001667,276,1.000000,Connected
12225,2018-10-23,20.001667,2018-10-23,21.001667,476,1.000000,Connected
12226,2018-10-23,21.001667,2018-10-23,22.001667,164,1.000000,Connected
12227,2018-10-23,22.001667,2018-10-23,23.001667,544,1.000000,Connected
12228,2018-10-23,23.001667,2018-10-24,1.985000,50,2.983333,Connected
12229,2018-10-24,2.001389,2018-10-24,8.084722,122,6.083333,Connected
12230,2018-10-24,8.083056,2018-10-24,8.333056,294,0.250000,Connected
12231,2018-10-24,8.321111,2018-10-24,8.488056,870,0.166944,iPhone
12232,2018-10-24,8.333056,2018-10-24,8.533056,700,0.200000,Connected
12233,2018-10-24,8.488056,2018-10-24,8.622222,536,0.134167,iPhone
12234,2018-10-24,8.533056,2018-10-24,9.016389,472,0.483333,Connected
12235,2018-10-24,9.016389,2018-10-24,10.016389,106,1.000000,Connected
12236,2018-10-24,9.982222,2018-10-24,10.103333,90,0.121111,iPhone
12237,2018-10-24,10.016389,2018-10-24,11.016389,416,1.000000,Connected
12238,2018-10-24,11.016389,2018-10-24,11.533056,176,0.516667,Connected
12239,2018-10-24,11.488056,2018-10-24,11.539444,192,0.051389,iPhone
12240,2018-10-24,11.533056,2018-10-24,12.016389,502,0.483333,Connected
12241,2018-10-24,12.016389,2018-10-24,13.016389,1082,1.000000,Connected
12242,2018-10-24,12.976944,2018-10-24,13.143611,1050,0.166667,iPhone
12243,2018-10-24,13.016389,2018-10-24,13.199722,902,0.183333,Connected
12244,2018-10-24,13.143611,2018-10-24,13.291111,527,0.147500,iPhone
12245,2018-10-24,13.199722,2018-10-24,14.016389,214,0.816667,Connected
12246,2018-10-24,14.016389,2018-10-24,17.016389,514,3.000000,Connected
12247,2018-10-24,17.016389,2018-10-24,17.833056,790,0.816667,Connected
12248,2018-10-24,17.477222,2018-10-24,17.976389,1628,0.499167,iPhone
12249,2018-10-24,17.833056,2018-10-24,18.016389,500,0.183333,Connected
12250,2018-10-24,17.976389,2018-10-24,18.142778,831,0.166389,iPhone
12251,2018-10-24,18.016389,2018-10-24,18.216389,324,0.200000,Connected
12252,2018-10-24,18.142778,2018-10-24,18.323889,954,0.181111,iPhone