# Steps Analysis (02/17/17 - 10/24/18)

In [1]:
import pandas as pd
import seaborn as sns
from bs4 import BeautifulSoup
import ast
from math import ceil

In [2]:
steps_df = pd.DataFrame(columns=['start_date', 'end_date',
                                 'num_steps', 'source'])
start_date_col = []
end_date_col = []
num_steps_col = []
source_col = []

In [3]:
with open('./data/export.xml') as fp:
    soup = BeautifulSoup(fp, 'lxml-xml')

In [4]:
steps = soup.findAll('Record', {'type': 'HKQuantityTypeIdentifierStepCount'})
for num in steps:
    start_date_col.append(num['startDate'])
    end_date_col.append(num['endDate'])
    num_steps_col.append(num['value'])
    source_col.append(num['sourceName'])

In [5]:
steps_df['start_date'] = start_date_col
steps_df['end_date'] = end_date_col
steps_df['num_steps'] = num_steps_col
steps_df['source'] = source_col

In [6]:
steps_df['num_steps'] = steps_df.num_steps.astype(int)

In [7]:
sd_df = steps_df.start_date.str.split(' ', expand=True)
sd_df.columns = ['start_date', 'start_time', 'time_zone']
sd_df = sd_df.drop(columns=['time_zone'])
sd_df['start_date'] = pd.to_datetime(sd_df['start_date'], format='%Y/%m/%d')
sd_df['start_time'] = pd.to_timedelta(sd_df['start_time'])

In [8]:
ed_df = steps_df.end_date.str.split(' ', expand=True)
ed_df.columns = ['end_date', 'end_time', 'time_zone']
ed_df = ed_df.drop(columns=['time_zone'])
ed_df['end_date'] = pd.to_datetime(ed_df['end_date'], format='%Y/%m/%d')
ed_df['end_time'] = pd.to_timedelta(ed_df['end_time'])

In [9]:
steps_df = steps_df.drop(columns=['start_date', 'end_date'])

In [10]:
dur_df = pd.concat([sd_df, ed_df], axis=1)
dur_df['sdt'] = dur_df['start_date'] + dur_df['start_time']
dur_df['edt'] = dur_df['end_date'] + dur_df['end_time']
dur_df['duration'] = dur_df['edt'] - dur_df['sdt']
dur_df = dur_df.drop(columns=['sdt', 'edt'])

In [28]:
df = pd.concat([steps_df, dur_df], axis=1)

In [29]:
df = df[['start_date', 'start_time', 'end_date',
         'end_time', 'num_steps', 'duration', 'source']]

In [30]:
df.sort_values(by=['start_date', 'start_time'], inplace=True)

In [31]:
df['start_time'] = pd.to_numeric(df['start_time'])/3600000000000
df['end_time'] = pd.to_numeric(df['end_time'])/3600000000000
df['duration'] = pd.to_numeric(df['duration'])/3600000000000
print(len(df))
print(df.num_steps.sum())

27755
4952676

In [32]:
# i = 0
# while i < len(df):
#     if (((i in df.index) and (i+1 in df.index)) and (
#             df['source'][i] == df['source'][i+1])) and (
#             df['end_time'][i] == df['start_time'][i+1]):
#         df.loc[i, 'end_time'] = df.loc[(i+1), 'end_time']
#         df.loc[i, 'end_date'] = df.loc[(i+1), 'end_date']
#         df.loc[i, 'num_steps'] += df.loc[(i+1), 'num_steps']
#         df.loc[i, 'duration'] += df.loc[(i+1), 'duration']
#         df.drop(index=(i+1), inplace=True)
#         df.reset_index(inplace=True)
#         df.drop(columns=['index'], inplace=True)
#     else:
#         i += 1

# print(len(df))
# print(df.num_steps.sum())

In [34]:
i = 0
while i < len(df)-1:
    if ((df.source[i] != df.source[i+1]) and (
            df.start_time[i] <= df.start_time[i+1])) and (
            df.end_time[i] >= df.end_time[i+1]):
        df.drop(index=(i+1), inplace=True)
        df.reset_index(inplace=True)
        df.drop(columns=['index'], inplace=True)
    else:
        i += 1

print(len(df))
print(df.num_steps.sum())

25249
4625251

In [35]:
df['steps_per_hour'] = df['num_steps']/df['duration']

In [36]:
i = 0
while i < len(df)-1:
    if ((df.source[i] != df.source[i+1]) and (
            df.start_date[i] == df.start_date[i+1])) and (
            df.start_time[i+1] <= df.end_time[i]):

        steps_adjust = ceil((df.end_time[i] - df.start_time[i+1]
                             ) * df.steps_per_hour[i+1])

        df.loc[(i+1), 'num_steps'] -= steps_adjust
        df.loc[(i+1), 'start_time'] = df.loc[i, 'end_time']
        df.loc[(i+1), 'duration'] = df.loc[(i+1), 'end_time'] - df.loc[(i+1), 'start_time']
        df.loc[i, 'duration'] = df.loc[i, 'end_time'] - df.loc[i, 'start_time']
        i+=1
    else:
        i += 1
df.reset_index(inplace=True)
df.drop(columns=['index'], inplace=True)
print(len(df))
print(df.num_steps.sum())

25249
4341168

In [37]:
df = df[df['duration'] > 0].reset_index().drop(columns=['index'])
df = df[df['num_steps'] > 0].reset_index().drop(columns=['index'])
print(len(df))
print(df.num_steps.sum())

25146
4341127

In [44]:
df[24900:24950]

,start_date,start_time,end_date,end_time,num_steps,duration,source,steps_per_hour
24900,2018-10-20,6.005278,2018-10-20,7.005278,20,1.000000,Connected,20.000000
24901,2018-10-20,7.005278,2018-10-20,8.005278,30,1.000000,Connected,30.000000
24902,2018-10-20,8.005278,2018-10-20,9.005278,250,1.000000,Connected,250.000000
24903,2018-10-20,9.005278,2018-10-20,9.138611,226,0.133333,Connected,1695.000000
24904,2018-10-20,9.138611,2018-10-20,9.155278,80,0.016667,Connected,4800.000000
24905,2018-10-20,9.155278,2018-10-20,9.238611,198,0.083333,Connected,2376.000000
24906,2018-10-20,9.238611,2018-10-20,9.255278,74,0.016667,Connected,4440.000000
24907,2018-10-20,9.255278,2018-10-20,9.288611,44,0.033333,Connected,1320.000000
24908,2018-10-20,9.288611,2018-10-20,9.305278,94,0.016667,Connected,5640.000000
24909,2018-10-20,9.305278,2018-10-20,10.005278,366,0.700000,Connected,522.857143
24910,2018-10-20,10.005278,2018-10-20,11.005278,46,1.000000,Connected,46.000000
24911,2018-10-20,11.005278,2018-10-20,12.005278,140,1.000000,Connected,140.000000
24912,2018-10-20,12.005278,2018-10-20,13.005278,214,1.000000,Connected,214.000000
24913,2018-10-20,13.005278,2018-10-20,13.238611,344,0.233333,Connected,1474.285714
24914,2018-10-20,13.238611,2018-10-20,13.255278,72,0.016667,Connected,4320.000000
24915,2018-10-20,13.255278,2018-10-20,13.271944,60,0.016667,Connected,3600.000000
24916,2018-10-20,13.271944,2018-10-20,13.305278,146,0.033333,Connected,4380.000000
24917,2018-10-20,13.305278,2018-10-20,13.355278,120,0.050000,Connected,2400.000000
24918,2018-10-20,13.355278,2018-10-20,13.371944,84,0.016667,Connected,5040.000000
24919,2018-10-20,13.371944,2018-10-20,13.421944,102,0.050000,Connected,2040.000000
24920,2018-10-20,13.421944,2018-10-20,13.438611,84,0.016667,Connected,5040.000000
24921,2018-10-20,13.438611,2018-10-20,13.471944,84,0.033333,Connected,2520.000000
24922,2018-10-20,13.471944,2018-10-20,13.488611,76,0.016667,Connected,4560.000000
24923,2018-10-20,13.488611,2018-10-20,13.521944,84,0.033333,Connected,2520.000000
24924,2018-10-20,13.521944,2018-10-20,13.538611,70,0.016667,Connected,4200.000000
24925,2018-10-20,13.538611,2018-10-20,13.555278,68,0.016667,Connected,4080.000000
24926,2018-10-20,13.555278,2018-10-20,13.588611,198,0.033333,Connected,5940.000000
24927,2018-10-20,13.588611,2018-10-20,13.605278,34,0.016667,Connected,2040.000000
24928,2018-10-20,13.605278,2018-10-20,13.621944,100,0.016667,Connected,6000.000000
24929,2018-10-20,13.621944,2018-10-20,13.671944,104,0.050000,Connected,2080.000000
24930,2018-10-20,13.671944,2018-10-20,13.705278,178,0.033333,Connected,5340.000000
24931,2018-10-20,13.705278,2018-10-20,13.738611,100,0.033333,Connected,3000.000000
24932,2018-10-20,13.738611,2018-10-20,13.771944,162,0.033333,Connected,4860.000000
24933,2018-10-20,13.771944,2018-10-20,14.005278,114,0.233333,Connected,488.571429
24934,2018-10-20,14.005278,2018-10-20,15.005278,66,1.000000,Connected,66.000000
24935,2018-10-20,15.005278,2018-10-20,16.005278,286,1.000000,Connected,286.000000
24936,2018-10-20,16.005278,2018-10-20,17.005278,24,1.000000,Connected,24.000000
24937,2018-10-20,17.005278,2018-10-20,18.005278,38,1.000000,Connected,38.000000
24938,2018-10-20,18.005278,2018-10-20,18.538611,280,0.533333,Connected,525.000000
24939,2018-10-20,18.538611,2018-10-20,18.555278,88,0.016667,Connected,5280.000000
24940,2018-10-20,18.555278,2018-10-20,18.655278,280,0.100000,Connected,2800.000000
24941,2018-10-20,18.655278,2018-10-20,18.721944,326,0.066667,Connected,4890.000000
24942,2018-10-20,18.738611,2018-10-20,18.755278,76,0.016667,Connected,4560.000000
24943,2018-10-20,18.755278,2018-10-20,18.821944,188,0.066667,Connected,2820.000000
24944,2018-10-20,18.821944,2018-10-20,18.838611,96,0.016667,Connected,5760.000000
24945,2018-10-20,18.838611,2018-10-20,18.855278,48,0.016667,Connected,2880.000000
24946,2018-10-20,18.855278,2018-10-20,18.938611,430,0.083333,Connected,5160.000000
24947,2018-10-20,18.938611,2018-10-20,19.005278,200,0.066667,Connected,3000.000000
24948,2018-10-20,19.005278,2018-10-20,19.021944,66,0.016667,Connected,3960.000000
24949,2018-10-20,19.021944,2018-10-20,19.038611,86,0.016667,Connected,5160.000000

In [26]:
# i = 0
# while i < len(df)-2:
#     if ((df.source[i] != df.source[i+1]) and (
#             df.start_date[i] == df.start_date[i+1])) and ((
#             df.start_time[i+1] == df.end_time[i]) and (
#             df.end_time[i] == df.start_time[i+2])):

#         df.drop(index=(i+1), inplace=True)
#         i += 2
#     else:
#         i += 1
# df.reset_index(inplace=True)
# df.drop(columns=['index'], inplace=True)
# print(len(df))
# print(df.num_steps.sum())

In [45]:
df.groupby(by=['start_date', 'source']).sum()

                      start_time    end_time  num_steps   duration  \
start_date source
2017-02-17 iPhone     176.142778  177.204167        812   1.061389
2017-02-18 iPhone     475.579722  478.716944       2668   3.137222
2017-02-19 iPhone     570.570556  574.096111       2991   3.525556
2017-02-20 iPhone     629.371389  633.515833       2812   4.144444
2017-02-21 iPhone     531.381667  535.065833       2819   3.684167
2017-02-22 iPhone     450.330278  453.641944       2559   3.311667
2017-02-23 iPhone     623.042778  628.317778       4396   5.275000
2017-02-24 iPhone     516.233333  520.597778       3060   4.364444
2017-02-25 iPhone     875.944722  858.391389       5448   6.446667
2017-02-26 iPhone     495.943056  499.325278       1583   3.382222
2017-02-27 iPhone     319.443056  322.035000       1763   2.591944
2017-02-28 iPhone     421.917778  425.540556       2853   3.622778
2017-03-01 iPhone     442.773056  446.288333       2770   3.515278
2017-03-02 iPhone     404.422222  407.464722       2303   3.042500
2017-03-03 iPhone     523.756944  527.695000       3319   3.938056
2017-03-04 iPhone     514.186667  518.555833       3762   4.369167
2017-03-05 iPhone     413.508333  416.652500       2511   3.144167
2017-03-06 iPhone     466.269444  470.112500       3214   3.843056
2017-03-07 iPhone     462.021944  465.701667       2842   3.679722
2017-03-08 iPhone     428.837778  432.221667       2228   3.383889
2017-03-09 iPhone     301.057222  303.495833       1725   2.438611
2017-03-10 iPhone     332.818056  335.785278       2293   2.967222
2017-03-11 iPhone     807.914722  814.803056       6884   6.888333
2017-03-12 iPhone     612.405833  616.613333       3423   4.207500
2017-03-13 iPhone     593.685556  598.497222       3508   4.811667
2017-03-14 iPhone     490.474722  494.469167       2918   3.994444
2017-03-15 iPhone     659.359167  665.469167       5534   6.110000
2017-03-16 iPhone     536.621389  540.932500       2639   4.311111
2017-03-17 iPhone     414.945000  418.639444       2688   3.694444
2017-03-18 iPhone     656.626944  662.415278       4842   5.788333
...                          ...         ...        ...        ...
2018-10-09 iPhone      62.690000   62.938889       1293   0.248889
2018-10-10 Connected  423.132778  422.005556       3406  22.872778
           iPhone     147.200000  148.343889       4178   1.143889
2018-10-11 Connected  403.175000  402.339167       2983  23.164167
           iPhone     124.561944  125.412500       2716   0.850556
2018-10-12 Connected  522.758611  522.049722       6848  23.291111
           iPhone     216.855000  217.837778       2501   0.982778
2018-10-13 Connected  636.931389  634.617500       4468  21.686111
           iPhone      41.465833   43.763056      10522   2.297222
2018-10-14 Connected  502.561667  502.282500       5766  23.720833
           iPhone      44.021111   44.300278       1627   0.279167
2018-10-15 Connected  439.719444  433.735833       6315  18.016389
           iPhone      12.005278   17.922222      12422   5.916944
2018-10-16 Connected  790.381389  788.723611       7146  22.342222
           iPhone     149.659722  150.317500       2963   0.657778
2018-10-17 Connected  829.526389  826.508333       9181  20.981944
           iPhone      11.718056   11.752778        123   0.034722
2018-10-18 Connected  627.575000  626.147222       7502  22.572222
           iPhone     233.802778  235.097222       5456   1.294444
2018-10-19 Connected  562.740278  559.964167       6728  21.223889
           iPhone     167.354444  155.523611      16054  36.169167
2018-10-20 Connected  846.382500  846.365833       8722  23.983333
2018-10-21 Connected  581.410833  578.785278       7428  21.374444
           iPhone     300.418889  301.961111       6175   1.542222
2018-10-22 Connected  432.402778  430.320000       4801  21.917222
           iPhone     211.638333  212.843056       4481   1.204722
2018-10-23 Connected  449.156944  447.822778       6762  22.665833
           iPhone     177.386111  178.686944       4652   1.300833
2018-10-24 Connected  251.067500  268.441667       5080  17.374167
           iPhone     137.007222  137.940556       4188   0.933333

                      steps_per_hour
start_date source
2017-02-17 iPhone        5784.295265
2017-02-18 iPhone       21503.906225
2017-02-19 iPhone       34185.015956
2017-02-20 iPhone       33756.375386
2017-02-21 iPhone       28411.874956
2017-02-22 iPhone       28819.028842
2017-02-23 iPhone       38945.083398
2017-02-24 iPhone       25794.488705
2017-02-25 iPhone       47151.327984
2017-02-26 iPhone       12358.233291
2017-02-27 iPhone       14148.672922
2017-02-28 iPhone       22937.035589
2017-03-01 iPhone       23629.796867
2017-03-02 iPhone       17769.326019
2017-03-03 iPhone       30603.970316
2017-03-04 iPhone       30102.335378
2017-03-05 iPhone       19785.172146
2017-03-06 iPhone       23889.129678
2017-03-07 iPhone       21966.036067
2017-03-08 iPhone       22172.213556
2017-03-09 iPhone       14318.870814
2017-03-10 iPhone       20204.519162
2017-03-11 iPhone       48945.738685
2017-03-12 iPhone       28142.410203
2017-03-13 iPhone       28842.734277
2017-03-14 iPhone       30542.192813
2017-03-15 iPhone       44034.809558
2017-03-16 iPhone       24124.471848
2017-03-17 iPhone       23312.533303
2017-03-18 iPhone       38027.173368
...                              ...
2018-10-09 iPhone       14560.465116
2018-10-10 Connected    21817.688312
           iPhone       37428.547345
2018-10-11 Connected    18469.890450
           iPhone       26871.220796
2018-10-12 Connected    40935.893066
           iPhone       37212.643051
2018-10-13 Connected    68325.343136
           iPhone       18018.771137
2018-10-14 Connected    71882.160189
           iPhone       11738.346703
2018-10-15 Connected    70204.586157
           iPhone         415.244038
2018-10-16 Connected   117115.550694
           iPhone       31279.131911
2018-10-17 Connected   130177.900556
           iPhone        3544.520548
2018-10-18 Connected    80892.053478
           iPhone       58205.467706
2018-10-19 Connected    55667.555783
           iPhone       42255.953070
2018-10-20 Connected   154654.603175
2018-10-21 Connected    66319.432449
           iPhone       73205.723282
2018-10-22 Connected    26038.672930
           iPhone       50062.270143
2018-10-23 Connected    35552.254204
           iPhone       37917.148124
2018-10-24 Connected    23827.377011
           iPhone       44077.900741

[701 rows x 5 columns]