In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

In [2]:
with open('../data/export.xml') as fp:
    soup = BeautifulSoup(fp, 'lxml-xml')

In [3]:
flights = soup.findAll(
    'Record', {'type': 'HKQuantityTypeIdentifierFlightsClimbed'})
distance = soup.findAll(
    'Record', {'type': 'HKQuantityTypeIdentifierDistanceWalkingRunning'})
steps = soup.findAll(
    'Record', {'type': 'HKQuantityTypeIdentifierStepCount'})

In [144]:
fdf = pd.DataFrame()
sdf = pd.DataFrame()
ddf = pd.DataFrame()

fdf.loc[:, 'start_date'] = [num['startDate'] for num in flights]
fdf.loc[:, 'end_date'] = [num['endDate'] for num in flights]
fdf.loc[:, 'num_floors'] = [num['value'] for num in flights]
fdf.loc[:, 'source'] = [num['sourceName'] for num in flights]
fdf.loc[:, 'num_floors'] = fdf.num_floors.astype(int)

sdf.loc[:, 'start_date'] = [num['startDate'] for num in steps]
sdf.loc[:, 'end_date'] = [num['endDate'] for num in steps]
sdf.loc[:, 'num_steps'] = [num['value'] for num in steps]
sdf.loc[:, 'source'] = [num['sourceName'] for num in steps]
sdf.loc[:, 'num_steps'] = sdf.num_steps.astype(int)

ddf.loc[:, 'start_date'] = [num['startDate'] for num in distance]
ddf.loc[:, 'end_date'] = [num['endDate'] for num in distance]
ddf.loc[:, 'tot_dist'] = [num['value'] for num in distance]
ddf.loc[:, 'source'] = [num['sourceName'] for num in distance]
ddf.loc[:, 'tot_dist'] = ddf.tot_dist.astype(float)

fdf.sort_values(by=['start_date', 'end_date'], inplace=True)
sdf.sort_values(by=['start_date', 'end_date'], inplace=True)
ddf.sort_values(by=['start_date', 'end_date'], inplace=True)

fdf.reset_index(inplace=True)
fdf.drop(columns=['index'], inplace=True)
sdf.reset_index(inplace=True)
sdf.drop(columns=['index'], inplace=True)
ddf.reset_index(inplace=True)
ddf.drop(columns=['index'], inplace=True)

In [145]:
def clean_start_end_times(df):
    start_date_df = df.start_date.str.split(' ', expand=True).drop(columns=[2])
    end_date_df = df.end_date.str.split(' ', expand=True).drop(columns=[2])

    start_date_df.loc[:, 'std'] = start_date_df[0] + ' ' + start_date_df[1]
    end_date_df.loc[:, 'etd'] = end_date_df[0] + ' ' + end_date_df[1]

    start_date_df.loc[:, 'sd'] = pd.to_datetime(
        start_date_df[0], format='%Y-%m-%d')
    end_date_df.loc[:, 'ed'] = pd.to_datetime(
        end_date_df[0], format='%Y-%m-%d')

    start_date_df.loc[:, 'st'] = pd.to_timedelta(start_date_df[1])
    end_date_df.loc[:, 'et'] = pd.to_timedelta(end_date_df[1])

    df.loc[:, 'start_date'] = start_date_df.sd
    df.loc[:, 'start_time'] = pd.to_numeric(start_date_df.st) / 3.6e12
    df.loc[:, 'end_date'] = end_date_df.ed
    df.loc[:, 'end_time'] = pd.to_numeric(end_date_df.et) / 3.6e12
    df.loc[:, 'duration'] = pd.to_numeric(
        (end_date_df.ed + end_date_df.et) - (start_date_df.sd + start_date_df.st)
    ) / 3.6e12

    return df

In [146]:
ddf = clean_start_end_times(ddf)
sdf = clean_start_end_times(sdf)
fdf = clean_start_end_times(fdf)

In [147]:
ddf.head()

,start_date,end_date,tot_dist,source,start_time,end_time,duration
0,2017-02-17,2017-02-17,0.025756,Mojito’s iPhone,21.390000,21.511667,0.121667
1,2017-02-17,2017-02-17,0.082226,Mojito’s iPhone,21.607778,21.738611,0.130833
2,2017-02-17,2017-02-17,0.019579,Mojito’s iPhone,21.738611,21.864444,0.125833
3,2017-02-17,2017-02-17,0.008028,Mojito’s iPhone,21.876111,21.976944,0.100833
4,2017-02-17,2017-02-17,0.086389,Mojito’s iPhone,21.976944,22.126389,0.149444

In [148]:
ddf.columns

Index(['start_date', 'end_date', 'tot_dist', 'source', 'start_time',
       'end_time', 'duration'],
      dtype='object')

In [149]:
print(ddf.info(), ddf.tot_dist.sum(), ddf.duration.sum(), sep='\n\n\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38452 entries, 0 to 38451
Data columns (total 7 columns):
start_date    38452 non-null datetime64[ns]
end_date      38452 non-null datetime64[ns]
tot_dist      38452 non-null float64
source        38452 non-null object
start_time    38452 non-null float64
end_time      38452 non-null float64
duration      38452 non-null float64
dtypes: datetime64[ns](2), float64(4), object(1)
memory usage: 2.1+ MB
None


2727.3623978190003


9645.449444444444

In [150]:
ddf.duration.max()

41.0775

In [151]:
ddf.loc[:, 'mph'] = ddf['tot_dist'] / ddf['duration']
ndf1 = ddf[ddf['start_date'] + one_day == ddf['end_date']].copy()
ndf2 = ddf[ddf['start_date'] + one_day == ddf['end_date']].copy()

ndf1.loc[:, 'end_date'] = ndf1['start_date'].copy()
ndf1.loc[:, 'end_time'] = 24 - 1e-10
ndf1.loc[:, 'duration'] = ndf1['end_time'] - ndf1['start_time']
ndf1.loc[:, 'tot_dist'] = ndf1['mph'] * ndf1['duration']
ndf1.reset_index(inplace=True)
ndf1.drop(columns=['index'], inplace=True)

ndf2.loc[:, 'start_date'] = ndf2['end_date'].copy()
ndf2.loc[:, 'start_time'] = 0
ndf2.loc[:, 'duration'] = ndf2['end_time'].copy()
ndf2.loc[:, 'tot_dist'] = ndf2['mph'] * ndf2['duration']
ndf2.reset_index(inplace=True)
ndf2.drop(columns=['index'], inplace=True)

ddf = ddf[ddf['start_date'] + one_day != ddf['end_date']].copy()
ddf = ddf.append([ndf1, ndf2], ignore_index=True, sort=False)
ddf.sort_values(by=['start_date', 'start_time', 'end_time'], inplace=True)
ddf.reset_index(inplace=True)
ddf.drop(columns=['index'], inplace=True)

In [152]:
print(ddf.info(), ddf.tot_dist.sum(), ddf.duration.sum(), ddf.duration.max(), sep='\n\n\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38773 entries, 0 to 38772
Data columns (total 8 columns):
start_date    38773 non-null datetime64[ns]
end_date      38773 non-null datetime64[ns]
tot_dist      38773 non-null float64
source        38773 non-null object
start_time    38773 non-null float64
end_time      38773 non-null float64
duration      38773 non-null float64
mph           38773 non-null float64
dtypes: datetime64[ns](2), float64(5), object(1)
memory usage: 2.4+ MB
None


2727.362397812499


9645.449444412345


41.0775

In [153]:
measure_unit = 'tot_dist'
speed_unit = 'mph'
one_day = pd.to_timedelta(1, 'D')
two_days = pd.to_timedelta(2, 'D')
ddf.loc[:, speed_unit] = ddf[measure_unit] / ddf['duration']

ndf1 = ddf[ddf['start_date'] + two_days == ddf['end_date']].copy()
ndf2 = ddf[ddf['start_date'] + two_days == ddf['end_date']].copy()
ndf3 = ddf[ddf['start_date'] + two_days == ddf['end_date']].copy()

ndf1.loc[:, 'end_date'] = ndf1['start_date'].copy()
ndf1.loc[:, 'end_time'] = 24 - 1e-10
ndf1.loc[:, 'duration'] = (24 - 1e-10) - ndf1['start_time']
ndf1.loc[:, measure_unit] = ndf1[speed_unit] * ndf1['duration']
ndf1.reset_index(inplace=True)
ndf1.drop(columns=['index'], inplace=True)

ndf2.loc[:, 'start_date'] = ndf2['start_date'] + one_day
ndf2.loc[:, 'end_date'] = ndf2['start_date'] + one_day
ndf2.loc[:, 'start_time'] = 0
ndf1.loc[:, 'end_time'] = 24 - 1e-10
ndf2.loc[:, 'duration'] = 24 - 1e-10
ndf2.loc[:, measure_unit] = ndf2[speed_unit] * (24 - 1e-10)
ndf2.reset_index(inplace=True)
ndf2.drop(columns=['index'], inplace=True)

ndf3.loc[:, 'start_date'] = ndf3['end_date'].copy()
ndf3.loc[:, 'start_time'] = 0
ndf3.loc[:, 'duration'] = ndf3['end_time'].copy()
ndf3.loc[:, measure_unit] = ndf3[speed_unit] * ndf3['duration']
ndf3.reset_index(inplace=True)
ndf3.drop(columns=['index'], inplace=True)

ddf = ddf[ddf['start_date'] + two_days != ddf['end_date']].copy()
ddf = ddf.append([ndf1, ndf2, ndf3], ignore_index=True, sort=False)
ddf.sort_values(by=['start_date', 'start_time', 'end_time'], inplace=True)
ddf.reset_index(inplace=True)
ddf.drop(columns=['index'], inplace=True)

In [154]:
print(ddf.info(), ddf.tot_dist.sum(), ddf.duration.sum(), ddf.duration.max(), sep='\n\n\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38777 entries, 0 to 38776
Data columns (total 8 columns):
start_date    38777 non-null datetime64[ns]
end_date      38777 non-null datetime64[ns]
tot_dist      38777 non-null float64
source        38777 non-null object
start_time    38777 non-null float64
end_time      38777 non-null float64
duration      38777 non-null float64
mph           38775 non-null float64
dtypes: datetime64[ns](2), float64(5), object(1)
memory usage: 2.4+ MB
None


2727.3623978124456


9645.449444411945


23.9999999999

In [28]:
print(len(ndf1), ndf1.tot_dist.sum(), ndf1.duration.sum(), sep='\n')

321
34.769925773000004
340.4530555555556

In [45]:
print(ndf1.tot_dist.sum() + ndf2.tot_dist.sum())
print(ndf1.duration.sum() + ndf2.duration.sum())

34.76992576649873
340.4530555234561

In [31]:
print(len(ndf1), ndf1.tot_dist.sum(), ndf1.duration.sum(), sep='\n')

321
24.358353810830288
266.6808333012339

In [34]:
ndf1

,start_date,end_date,tot_dist,source,start_time,end_time,duration,mph
284,2017-02-25,2017-02-25,0.008638,Mojito’s iPhone,23.905278,24.0,0.094722,0.091188
2600,2017-05-03,2017-05-03,0.025891,Mojito’s iPhone,23.943333,24.0,0.056667,0.456892
2853,2017-05-13,2017-05-13,0.034119,Mojito’s iPhone,23.836111,24.0,0.163889,0.208184
3274,2017-05-26,2017-05-26,0.012100,Mojito’s iPhone,23.878056,24.0,0.121944,0.099224
3678,2017-06-05,2017-06-05,0.025755,Mojito’s iPhone,23.897778,24.0,0.102222,0.251950
5054,2017-07-07,2017-07-07,0.020150,Mojito’s iPhone,23.840833,24.0,0.159167,0.126595
5387,2017-07-14,2017-07-14,0.134020,Mojito’s iPhone,23.928333,24.0,0.071667,1.870049
6150,2017-07-28,2017-07-28,0.000597,Mojito’s iPhone,23.986667,24.0,0.013333,0.044739
6204,2017-07-29,2017-07-29,0.029077,Mojito’s iPhone,23.956111,24.0,0.043889,0.662510
7026,2017-08-19,2017-08-19,0.003977,Mojito’s iPhone,23.989444,24.0,0.010556,0.376794
7554,2017-09-01,2017-09-01,0.040135,Mojito’s iPhone,23.877222,24.0,0.122778,0.326892
8104,2017-09-16,2017-09-16,0.002774,Mojito’s iPhone,23.902500,24.0,0.097500,0.028454
10793,2017-11-13,2017-11-13,0.122788,Mojito’s iPhone,23.930833,24.0,0.069167,1.775245
11319,2017-11-27,2017-11-27,0.042123,Mojito’s iPhone,23.980278,24.0,0.019722,2.135808
11527,2017-12-02,2017-12-02,0.007044,Mojito’s iPhone,23.924722,24.0,0.075278,0.093578
11842,2017-12-09,2017-12-09,0.012021,Mojito’s iPhone,23.942500,24.0,0.057500,0.209055
11952,2017-12-11,2017-12-11,0.200762,Mojito’s iPhone,23.902778,24.0,0.097222,2.064979
11995,2017-12-12,2017-12-12,0.419043,Mojito’s iPhone,23.855278,24.0,0.144722,2.895496
12032,2017-12-13,2017-12-13,0.181227,Mojito’s iPhone,23.879444,24.0,0.120556,1.503263
12099,2017-12-15,2017-12-15,0.098891,Mojito’s iPhone,23.953611,24.0,0.046389,2.131777
12292,2017-12-19,2017-12-19,0.003362,Mojito’s iPhone,23.921389,24.0,0.078611,0.042766
12341,2017-12-20,2017-12-20,0.014541,Mojito’s iPhone,23.884167,24.0,0.115833,0.125538
12408,2017-12-21,2017-12-21,0.001421,Mojito’s iPhone,23.899722,24.0,0.100278,0.014171
12456,2017-12-22,2017-12-22,0.033597,Mojito’s iPhone,23.893889,24.0,0.106111,0.316621
12502,2017-12-23,2017-12-23,0.000468,Mojito’s iPhone,23.923333,24.0,0.076667,0.006101
12623,2017-12-25,2017-12-25,0.152957,Mojito’s iPhone,23.870000,24.0,0.130000,1.176593
12844,2017-12-30,2017-12-30,0.004071,Mojito’s iPhone,23.924167,24.0,0.075833,0.053686
13083,2018-01-05,2018-01-05,0.024634,Mojito’s iPhone,23.843333,24.0,0.156667,0.157237
13429,2018-01-14,2018-01-14,0.000054,Mojito’s iPhone,23.999444,24.0,0.000556,0.096628
13876,2018-01-25,2018-01-25,0.023361,Mojito’s iPhone,23.963889,24.0,0.036111,0.646913
...,...,...,...,...,...,...,...,...
36747,2019-03-12,2019-03-12,0.066778,Mojito’s iPhone,23.156111,24.0,0.843889,0.079131
36749,2019-03-12,2019-03-12,0.063292,Connected,23.201111,24.0,0.798889,0.079225
36797,2019-03-13,2019-03-13,0.058932,Connected,23.001667,24.0,0.998333,0.059030
36906,2019-03-15,2019-03-15,0.099902,Connected,23.001389,24.0,0.998611,0.100041
36959,2019-03-16,2019-03-16,0.001233,Connected,23.007500,24.0,0.992500,0.001243
37042,2019-03-17,2019-03-17,0.091890,Connected,23.007500,24.0,0.992500,0.092584
37093,2019-03-18,2019-03-18,0.069478,Connected,23.001667,24.0,0.998333,0.069594
37146,2019-03-19,2019-03-19,0.026061,Connected,23.001389,24.0,0.998611,0.026098
37205,2019-03-20,2019-03-20,0.031296,Connected,23.094722,24.0,0.905278,0.034571
37257,2019-03-21,2019-03-21,0.025800,Connected,23.011389,24.0,0.988611,0.026098
37307,2019-03-22,2019-03-22,0.000000,Connected,23.011389,24.0,0.988611,0.000000
37374,2019-03-23,2019-03-23,0.006143,Connected,23.011389,24.0,0.988611,0.006214
37441,2019-03-24,2019-03-24,0.144359,Connected,23.011389,24.0,0.988611,0.146022
37494,2019-03-25,2019-03-25,0.000000,Connected,23.011389,24.0,0.988611,0.000000
37547,2019-03-26,2019-03-26,0.031943,Connected,23.011389,24.0,0.988611,0.032311
37597,2019-03-27,2019-03-27,0.004914,Connected,23.011389,24.0,0.988611,0.004971
37683,2019-03-28,2019-03-28,0.001864,Connected,23.000278,24.0,0.999722,0.001864
37743,2019-03-29,2019-03-29,0.000621,Connected,23.000278,24.0,0.999722,0.000621
37809,2019-03-30,2019-03-30,0.151982,Connected,23.001667,24.0,0.998333,0.152236
37812,2019-03-30,2019-03-30,0.003360,Mojito’s iPhone,23.568889,24.0,0.431111,0.007795
37889,2019-03-31,2019-03-31,0.139615,Connected,23.001389,24.0,0.998611,0.139809
37952,2019-04-01,2019-04-01,0.122826,Connected,23.001667,24.0,0.998333,0.123031
38001,2019-04-02,2019-04-02,0.006199,Connected,23.534444,24.0,0.465556,0.013315
38061,2019-04-03,2019-04-03,0.063292,Connected,23.001389,24.0,0.998611,0.063380
38112,2019-04-04,2019-04-04,0.001863,Connected,23.000556,24.0,0.999444,0.001864
38165,2019-04-05,2019-04-05,0.001862,Connected,23.001389,24.0,0.998611,0.001864
38232,2019-04-06,2019-04-06,0.019236,Connected,23.001389,24.0,0.998611,0.019262
38304,2019-04-07,2019-04-07,0.005585,Connected,23.001389,24.0,0.998611,0.005592
38362,2019-04-08,2019-04-08,0.000621,Connected,23.001389,24.0,0.998611,0.000621
38413,2019-04-09,2019-04-09,0.002482,Connected,23.001389,24.0,0.998611,0.002485

In [37]:
ndf2

,start_date,end_date,tot_dist,source,start_time,end_time,duration,mph
284,2017-02-26,2017-02-26,4.280770e-03,Mojito’s iPhone,0,0.046944,0.046944,0.091188
2600,2017-05-04,2017-05-04,4.340475e-02,Mojito’s iPhone,0,0.095000,0.095000,0.456892
2853,2017-05-14,2017-05-14,5.782900e-04,Mojito’s iPhone,0,0.002778,0.002778,0.208184
3274,2017-05-27,2017-05-27,4.409963e-03,Mojito’s iPhone,0,0.044444,0.044444,0.099224
3678,2017-06-06,2017-06-06,4.829037e-03,Mojito’s iPhone,0,0.019167,0.019167,0.251950
5054,2017-07-08,2017-07-08,4.923135e-04,Mojito’s iPhone,0,0.003889,0.003889,0.126595
5387,2017-07-15,2017-07-15,1.766158e-01,Mojito’s iPhone,0,0.094444,0.094444,1.870049
6150,2017-07-29,2017-07-29,5.629624e-03,Mojito’s iPhone,0,0.125833,0.125833,0.044739
6204,2017-07-30,2017-07-30,5.833768e-02,Mojito’s iPhone,0,0.088056,0.088056,0.662510
7026,2017-08-20,2017-08-20,5.379783e-02,Mojito’s iPhone,0,0.142778,0.142778,0.376794
7554,2017-09-02,2017-09-02,8.717121e-03,Mojito’s iPhone,0,0.026667,0.026667,0.326892
8104,2017-09-17,2017-09-17,1.177672e-03,Mojito’s iPhone,0,0.041389,0.041389,0.028454
10793,2017-11-14,2017-11-14,1.725932e-01,Mojito’s iPhone,0,0.097222,0.097222,1.775245
11319,2017-11-28,2017-11-28,2.141741e-01,Mojito’s iPhone,0,0.100278,0.100278,2.135808
11527,2017-12-03,2017-12-03,8.552026e-03,Mojito’s iPhone,0,0.091389,0.091389,0.093578
11842,2017-12-10,2017-12-10,2.276375e-02,Mojito’s iPhone,0,0.108889,0.108889,0.209055
11952,2017-12-12,2017-12-12,1.422541e-01,Mojito’s iPhone,0,0.068889,0.068889,2.064979
11995,2017-12-13,2017-12-13,3.780232e-02,Mojito’s iPhone,0,0.013056,0.013056,2.895496
12032,2017-12-14,2017-12-14,3.591128e-02,Mojito’s iPhone,0,0.023889,0.023889,1.503263
12099,2017-12-16,2017-12-16,2.558132e-01,Mojito’s iPhone,0,0.120000,0.120000,2.131777
12292,2017-12-20,2017-12-20,1.758178e-03,Mojito’s iPhone,0,0.041111,0.041111,0.042766
12341,2017-12-21,2017-12-21,6.311755e-03,Mojito’s iPhone,0,0.050278,0.050278,0.125538
12408,2017-12-22,2017-12-22,3.188395e-04,Mojito’s iPhone,0,0.022500,0.022500,0.014171
12456,2017-12-23,2017-12-23,1.829367e-02,Mojito’s iPhone,0,0.057778,0.057778,0.316621
12502,2017-12-24,2017-12-24,3.897691e-04,Mojito’s iPhone,0,0.063889,0.063889,0.006101
12623,2017-12-26,2017-12-26,1.960989e-02,Mojito’s iPhone,0,0.016667,0.016667,1.176593
12844,2017-12-31,2017-12-31,2.788715e-03,Mojito’s iPhone,0,0.051944,0.051944,0.053686
13083,2018-01-06,2018-01-06,8.735377e-04,Mojito’s iPhone,0,0.005556,0.005556,0.157237
13429,2018-01-15,2018-01-15,1.564842e-02,Mojito’s iPhone,0,0.161944,0.161944,0.096628
13876,2018-01-26,2018-01-26,1.239916e-02,Mojito’s iPhone,0,0.019167,0.019167,0.646913
...,...,...,...,...,...,...,...,...
36747,2019-03-13,2019-03-13,6.588780e-01,Mojito’s iPhone,0,8.326389,8.326389,0.079131
36749,2019-03-13,2019-03-13,8.802764e-05,Connected,0,0.001111,0.001111,0.079225
36797,2019-03-14,2019-03-14,9.838383e-05,Connected,0,0.001667,0.001667,0.059030
36906,2019-03-16,2019-03-16,1.389458e-04,Connected,0,0.001389,0.001389,0.100041
36959,2019-03-17,2019-03-17,9.320550e-06,Connected,0,0.007500,0.007500,0.001243
37042,2019-03-18,2019-03-18,6.943822e-04,Connected,0,0.007500,0.007500,0.092584
37093,2019-03-19,2019-03-19,1.159893e-04,Connected,0,0.001667,0.001667,0.069594
37146,2019-03-20,2019-03-20,3.624667e-05,Connected,0,0.001389,0.001389,0.026098
37205,2019-03-21,2019-03-21,3.937230e-04,Connected,0,0.011389,0.011389,0.034571
37257,2019-03-22,2019-03-22,2.972227e-04,Connected,0,0.011389,0.011389,0.026098
37307,2019-03-23,2019-03-23,0.000000e+00,Connected,0,0.011389,0.011389,0.000000
37374,2019-03-24,2019-03-24,7.076725e-05,Connected,0,0.011389,0.011389,0.006214
37441,2019-03-25,2019-03-25,1.663028e-03,Connected,0,0.011389,0.011389,0.146022
37494,2019-03-26,2019-03-26,0.000000e+00,Connected,0,0.011389,0.011389,0.000000
37547,2019-03-27,2019-03-27,3.679898e-04,Connected,0,0.011389,0.011389,0.032311
37597,2019-03-28,2019-03-28,5.661382e-05,Connected,0,0.011389,0.011389,0.004971
37683,2019-03-29,2019-03-29,5.178083e-07,Connected,0,0.000278,0.000278,0.001864
37743,2019-03-30,2019-03-30,1.726031e-07,Connected,0,0.000278,0.000278,0.000621
37809,2019-03-31,2019-03-31,2.537267e-04,Connected,0,0.001667,0.001667,0.152236
37812,2019-03-31,2019-03-31,6.324446e-02,Mojito’s iPhone,0,8.113889,8.113889,0.007795
37889,2019-04-01,2019-04-01,1.941792e-04,Connected,0,0.001389,0.001389,0.139809
37952,2019-04-02,2019-04-02,2.050517e-04,Connected,0,0.001667,0.001667,0.123031
38001,2019-04-03,2019-04-03,1.479455e-05,Connected,0,0.001111,0.001111,0.013315
38061,2019-04-04,2019-04-04,8.802764e-05,Connected,0,0.001389,0.001389,0.063380
38112,2019-04-05,2019-04-05,1.035617e-06,Connected,0,0.000556,0.000556,0.001864
38165,2019-04-06,2019-04-06,2.589042e-06,Connected,0,0.001389,0.001389,0.001864
38232,2019-04-07,2019-04-07,2.675347e-05,Connected,0,0.001389,0.001389,0.019262
38304,2019-04-08,2019-04-08,7.767139e-06,Connected,0,0.001389,0.001389,0.005592
38362,2019-04-09,2019-04-09,8.630153e-07,Connected,0,0.001389,0.001389,0.000621
38413,2019-04-10,2019-04-10,3.452056e-06,Connected,0,0.001389,0.001389,0.002485

In [38]:
print(len(ndf2), ndf2.tot_dist.sum(), ndf2.duration.sum(), sep='\n')

321
10.411571955668444
73.77222222222221

In [16]:
mdf = ddf[ddf['start_date'] != ddf['end_date']]

In [ ]:
mdf.loc[:, 'mph'] = mdf['tot_dist'] / mdf['duration']
mdf.loc[:, 'end_date'] = mdf['start_date'].copy()
mdf.loc[:, 'end_time'] = 24 - 1e-10
mdf.loc[:, 'duration'] = mdf['end_time'] - mdf['start_time']
mdf.loc[:, 'tot_dist'] = mdf['mph'] * mdf['duration']

In [189]:

ddf.loc[:, 'mph'] = ddf['tot_dist'] / ddf['duration']
for i in ddf.index:
    if ddf['start_date'][i] + one_day == ddf.end_date[i]:
        add_st = 0
        new_st = ddf.start_time[i]
        new_et = 24 - 1e-8
        add_et = ddf.end_time[i]
        new_dr = new_et - new_st
        add_dr = add_et
        speed  = ddf['mph'][i]
        new_td = speed * new_dr
        add_td = speed * add_dr
        new_sed = ddf['start_date'][i]
        add_sed = ddf['end_date'][i]
        src = ddf['source'][i]
        ddf.loc[i, :] = [new_sed, new_sed, new_td, src, new_st, new_et, new_dr, speed]
        ddf.loc[len(ddf), :] = [add_sed, add_sed, add_td, src, add_st, add_et, add_dr, speed]
        ddf.sort_values(by=['start_date', 'start_time', 'end_time'], inplace=True)
        ddf.reset_index(inplace=True)
        ddf.drop(columns=['index'], inplace=True)
    elif ddf['start_date'][i] + two_days == ddf.end_date[i]:
        new_st = ddf.start_time[i]
        add1_st, add2_st = 0, 0

        new_et, add1_et = 24 - 1e-8, 24 - 1e-8
        add2_et = ddf.end_time[i]

        new_dr = 24 - new_st
        add1_dr = 24
        add2_dr = add2_et

        speed  = ddf['mph'][i]

        new_td = speed * new_dr
        add1_td = speed * add1_dr
        add2_td = speed * add2_dr

        new_sed = ddf['start_date'][i]
        add1_sed = ddf['start_date'][i] + one_day
        add2_sed = ddf['end_date'][i]

        src = ddf['source'][i]

        ddf.loc[i, :] = [new_sed, new_sed, new_td, src, new_st, new_et, new_dr, speed]
        ddf.loc[len(ddf), :] = [add1_sed, add1_sed, add1_td, src, add1_st, add1_et, add1_dr, speed]
        ddf.loc[len(ddf) + 1, :] = [add2_sed, add2_sed, add2_td, src, add2_st, add2_et, add2_dr, speed]
        ddf.sort_values(by=['start_date', 'start_time', 'end_time'], inplace=True)
        ddf.reset_index(inplace=True)
        ddf.drop(columns=['index'], inplace=True)

In [190]:
ddf.source.value_counts()

Mojito’s iPhone    26974
Connected          11798
Name: source, dtype: int64

In [191]:
print(ddf.info(), ddf.tot_dist.sum(), ddf.duration.sum(), sep='\n\n\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38772 entries, 0 to 38771
Data columns (total 8 columns):
start_date    38772 non-null datetime64[ns]
end_date      38772 non-null datetime64[ns]
tot_dist      38772 non-null float64
source        38772 non-null object
start_time    38772 non-null float64
end_time      38772 non-null float64
duration      38772 non-null float64
mph           38772 non-null float64
dtypes: datetime64[ns](2), float64(5), object(1)
memory usage: 2.4+ MB
None


2727.3623971691595


9645.449441284445

In [192]:
lddf = len(ddf)
pddf = 0
while lddf != pddf:
    lddf = len(ddf)
    ddf.loc[:, 'cond1'] = np.where(ddf.start_time >= ddf.start_time.shift(1), 1, 0)
    ddf.loc[:, 'cond2'] = np.where(ddf.end_time <= ddf.end_time.shift(1), 1, 0)
    ddf.loc[:, 'cond3'] = np.where(ddf.start_date == ddf.start_date.shift(1), 1, 0)
    ddf.loc[:, 'condsum'] = ddf.cond1 + ddf.cond2 + ddf.cond3
    ddf = ddf[ddf['condsum'] < 3].copy()
    pddf = len(ddf)
for i in ddf.index:
    if type(ddf.source[i]) == pd.core.series.Series:
        ddf.loc[i, 'source'] = ddf.source[i][0]

In [193]:
ddf.columns

Index(['start_date', 'end_date', 'tot_dist', 'source', 'start_time',
       'end_time', 'duration', 'mph', 'cond1', 'cond2', 'cond3', 'condsum'],
      dtype='object')

In [194]:
ddf.loc[:, 'cond1'] = np.where(ddf.end_time >= ddf.start_time.shift(1), 1, 0)
ddf.loc[:, 'cond2'] = np.where(ddf.start_date == ddf.start_date.shift(1), 1, 0)
ddf.loc[:, 'conds'] = np.where(ddf.source != ddf.source.shift(1), 1, 0)
ddf.loc[:, 'condsum'] = ddf.cond1 + ddf.cond2 + ddf.conds

In [195]:
ddf.drop(columns=['cond1', 'cond2', 'conds'], inplace=True)

In [196]:
ddf.tail(50)

,start_date,end_date,tot_dist,source,start_time,end_time,duration,mph,cond3,condsum
38689,2019-04-09,2019-04-09,0.000621,Connected,6.001389,7.001389,1.000000,0.000621,1,2
38690,2019-04-09,2019-04-09,0.053438,Connected,7.001389,7.418056,0.416667,0.128251,1,2
38691,2019-04-09,2019-04-09,0.211720,Mojito’s iPhone,7.322500,7.480556,0.158056,1.339529,1,3
38693,2019-04-09,2019-04-09,0.137944,Connected,7.434722,7.601389,0.166667,0.827664,1,3
38694,2019-04-09,2019-04-09,0.373662,Mojito’s iPhone,7.494167,7.659722,0.165556,2.257019,1,3
38695,2019-04-09,2019-04-09,0.202567,Connected,7.601389,7.668056,0.066667,3.038505,1,3
38696,2019-04-09,2019-04-09,0.041632,Connected,7.668056,8.001389,0.333333,0.124896,1,2
38698,2019-04-09,2019-04-09,0.111225,Connected,8.001389,9.001389,1.000000,0.111225,1,2
38699,2019-04-09,2019-04-09,0.190140,Connected,9.001389,10.001389,1.000000,0.190140,1,2
38704,2019-04-09,2019-04-09,0.000000,Connected,10.001389,11.001389,1.000000,0.000000,1,2
38705,2019-04-09,2019-04-09,0.095691,Connected,11.001389,12.001389,1.000000,0.095691,1,2
38708,2019-04-09,2019-04-09,0.000621,Connected,12.001389,13.001389,1.000000,0.000621,1,2
38709,2019-04-09,2019-04-09,0.116818,Connected,13.001389,14.001389,1.000000,0.116818,1,2
38712,2019-04-09,2019-04-09,0.005592,Connected,14.001389,15.001389,1.000000,0.005592,1,2
38713,2019-04-09,2019-04-09,0.006835,Connected,15.001389,16.001389,1.000000,0.006835,1,2
38715,2019-04-09,2019-04-09,0.006214,Connected,16.001389,17.001389,1.000000,0.006214,1,2
38716,2019-04-09,2019-04-09,0.092584,Connected,17.001389,18.001389,1.000000,0.092584,1,2
38721,2019-04-09,2019-04-09,0.034175,Connected,18.001389,19.001389,1.000000,0.034175,1,2
38723,2019-04-09,2019-04-09,0.005592,Connected,19.001389,20.001389,1.000000,0.005592,1,2
38724,2019-04-09,2019-04-09,0.113090,Connected,20.001389,20.501389,0.500000,0.226180,1,2
38727,2019-04-09,2019-04-09,0.031069,Connected,20.501389,20.518056,0.016667,1.864116,1,2
38728,2019-04-09,2019-04-09,0.103148,Connected,20.518056,21.001389,0.483333,0.213410,1,2
38730,2019-04-09,2019-04-09,0.142915,Connected,21.001389,22.001389,1.000000,0.142915,1,2
38732,2019-04-09,2019-04-09,0.043496,Connected,22.001389,23.001389,1.000000,0.043496,1,2
38734,2019-04-10,2019-04-10,0.012427,Connected,0.001389,1.001389,1.000000,0.012427,0,0
38735,2019-04-10,2019-04-10,0.000000,Connected,1.001389,2.001389,1.000000,0.000000,1,2
38736,2019-04-10,2019-04-10,0.009942,Connected,2.001389,3.001389,1.000000,0.009942,1,2
38737,2019-04-10,2019-04-10,0.016156,Connected,3.001389,4.001389,1.000000,0.016156,1,2
38738,2019-04-10,2019-04-10,0.009942,Connected,4.001389,5.001389,1.000000,0.009942,1,2
38739,2019-04-10,2019-04-10,0.003107,Connected,5.001389,6.001389,1.000000,0.003107,1,2
38740,2019-04-10,2019-04-10,0.002485,Connected,6.001389,7.001389,1.000000,0.002485,1,2
38741,2019-04-10,2019-04-10,0.045982,Connected,7.001389,7.734722,0.733333,0.062702,1,2
38742,2019-04-10,2019-04-10,0.350895,Mojito’s iPhone,7.698889,7.861389,0.162500,2.159354,1,3
38746,2019-04-10,2019-04-10,0.040389,Connected,7.851389,7.884722,0.033333,1.211673,1,3
38747,2019-04-10,2019-04-10,0.357233,Mojito’s iPhone,7.866389,8.010556,0.144167,2.477917,1,3
38752,2019-04-10,2019-04-10,0.024234,Connected,8.001389,9.001389,1.000000,0.024234,1,3
38753,2019-04-10,2019-04-10,0.067729,Connected,9.001389,10.001389,1.000000,0.067729,1,2
38756,2019-04-10,2019-04-10,0.001864,Connected,10.001389,11.001389,1.000000,0.001864,1,2
38757,2019-04-10,2019-04-10,0.014292,Connected,11.001389,11.401389,0.400000,0.035729,1,2
38758,2019-04-10,2019-04-10,0.060727,Mojito’s iPhone,11.371667,11.415000,0.043333,1.401383,1,3
38759,2019-04-10,2019-04-10,0.038525,Connected,11.417778,11.434444,0.016667,2.311500,1,3
38760,2019-04-10,2019-04-10,0.004971,Connected,11.434444,12.001111,0.566667,0.008772,1,2
38761,2019-04-10,2019-04-10,0.001864,Connected,12.001111,13.001111,1.000000,0.001864,1,2
38762,2019-04-10,2019-04-10,0.044117,Connected,13.001111,14.001111,1.000000,0.044117,1,2
38764,2019-04-10,2019-04-10,0.034797,Connected,14.001111,15.001111,1.000000,0.034797,1,2
38767,2019-04-10,2019-04-10,0.004350,Connected,15.001111,16.001111,1.000000,0.004350,1,2
38768,2019-04-10,2019-04-10,0.003728,Connected,16.001111,17.001111,1.000000,0.003728,1,2
38769,2019-04-10,2019-04-10,0.008699,Connected,17.001111,18.001111,1.000000,0.008699,1,2
38770,2019-04-10,2019-04-10,0.003728,Connected,18.001111,19.001111,1.000000,0.003728,1,2
38771,2019-04-10,2019-04-10,0.000621,Connected,19.001111,19.584444,0.583333,0.001065,1,2

In [207]:
ddf.loc[:, 'start_time'] = np.where(
    ddf['condsum'] == 3, ddf.end_time.shift(1) + 1e-10, ddf.start_time)
ddf.loc[:, 'duration'] = np.where(
    ddf['condsum'] == 3, ddf.end_time - ddf.start_time, ddf['duration'])
ddf.loc[:, 'tot_dist'] =  np.where(
    ddf['condsum'] == 3, ddf.duration * ddf['mph'], ddf['tot_dist'])

In [208]:
ddf.tail(50)

,start_date,end_date,tot_dist,source,start_time,end_time,duration,mph,cond3,condsum
38689,2019-04-09,2019-04-09,0.000621,Connected,6.001389,7.001389,1.000000,0.000621,1,2
38690,2019-04-09,2019-04-09,0.053438,Connected,7.001389,7.418056,0.416667,0.128251,1,2
38691,2019-04-09,2019-04-09,0.083721,Mojito’s iPhone,7.418056,7.480556,0.062500,1.339529,1,3
38693,2019-04-09,2019-04-09,0.100009,Connected,7.480556,7.601389,0.120833,0.827664,1,3
38694,2019-04-09,2019-04-09,0.131659,Mojito’s iPhone,7.601389,7.659722,0.058333,2.257019,1,3
38695,2019-04-09,2019-04-09,0.025321,Connected,7.659722,7.668056,0.008333,3.038505,1,3
38696,2019-04-09,2019-04-09,0.041632,Connected,7.668056,8.001389,0.333333,0.124896,1,2
38698,2019-04-09,2019-04-09,0.111225,Connected,8.001389,9.001389,1.000000,0.111225,1,2
38699,2019-04-09,2019-04-09,0.190140,Connected,9.001389,10.001389,1.000000,0.190140,1,2
38704,2019-04-09,2019-04-09,0.000000,Connected,10.001389,11.001389,1.000000,0.000000,1,2
38705,2019-04-09,2019-04-09,0.095691,Connected,11.001389,12.001389,1.000000,0.095691,1,2
38708,2019-04-09,2019-04-09,0.000621,Connected,12.001389,13.001389,1.000000,0.000621,1,2
38709,2019-04-09,2019-04-09,0.116818,Connected,13.001389,14.001389,1.000000,0.116818,1,2
38712,2019-04-09,2019-04-09,0.005592,Connected,14.001389,15.001389,1.000000,0.005592,1,2
38713,2019-04-09,2019-04-09,0.006835,Connected,15.001389,16.001389,1.000000,0.006835,1,2
38715,2019-04-09,2019-04-09,0.006214,Connected,16.001389,17.001389,1.000000,0.006214,1,2
38716,2019-04-09,2019-04-09,0.092584,Connected,17.001389,18.001389,1.000000,0.092584,1,2
38721,2019-04-09,2019-04-09,0.034175,Connected,18.001389,19.001389,1.000000,0.034175,1,2
38723,2019-04-09,2019-04-09,0.005592,Connected,19.001389,20.001389,1.000000,0.005592,1,2
38724,2019-04-09,2019-04-09,0.113090,Connected,20.001389,20.501389,0.500000,0.226180,1,2
38727,2019-04-09,2019-04-09,0.031069,Connected,20.501389,20.518056,0.016667,1.864116,1,2
38728,2019-04-09,2019-04-09,0.103148,Connected,20.518056,21.001389,0.483333,0.213410,1,2
38730,2019-04-09,2019-04-09,0.142915,Connected,21.001389,22.001389,1.000000,0.142915,1,2
38732,2019-04-09,2019-04-09,0.043496,Connected,22.001389,23.001389,1.000000,0.043496,1,2
38734,2019-04-10,2019-04-10,0.012427,Connected,0.001389,1.001389,1.000000,0.012427,0,0
38735,2019-04-10,2019-04-10,0.000000,Connected,1.001389,2.001389,1.000000,0.000000,1,2
38736,2019-04-10,2019-04-10,0.009942,Connected,2.001389,3.001389,1.000000,0.009942,1,2
38737,2019-04-10,2019-04-10,0.016156,Connected,3.001389,4.001389,1.000000,0.016156,1,2
38738,2019-04-10,2019-04-10,0.009942,Connected,4.001389,5.001389,1.000000,0.009942,1,2
38739,2019-04-10,2019-04-10,0.003107,Connected,5.001389,6.001389,1.000000,0.003107,1,2
38740,2019-04-10,2019-04-10,0.002485,Connected,6.001389,7.001389,1.000000,0.002485,1,2
38741,2019-04-10,2019-04-10,0.045982,Connected,7.001389,7.734722,0.733333,0.062702,1,2
38742,2019-04-10,2019-04-10,0.273518,Mojito’s iPhone,7.734722,7.861389,0.126667,2.159354,1,3
38746,2019-04-10,2019-04-10,0.028272,Connected,7.861389,7.884722,0.023333,1.211673,1,3
38747,2019-04-10,2019-04-10,0.311805,Mojito’s iPhone,7.884722,8.010556,0.125833,2.477917,1,3
38752,2019-04-10,2019-04-10,0.024011,Connected,8.010556,9.001389,0.990833,0.024234,1,3
38753,2019-04-10,2019-04-10,0.067729,Connected,9.001389,10.001389,1.000000,0.067729,1,2
38756,2019-04-10,2019-04-10,0.001864,Connected,10.001389,11.001389,1.000000,0.001864,1,2
38757,2019-04-10,2019-04-10,0.014292,Connected,11.001389,11.401389,0.400000,0.035729,1,2
38758,2019-04-10,2019-04-10,0.019074,Mojito’s iPhone,11.401389,11.415000,0.013611,1.401383,1,3
38759,2019-04-10,2019-04-10,0.044946,Connected,11.415000,11.434444,0.019444,2.311500,1,3
38760,2019-04-10,2019-04-10,0.004971,Connected,11.434444,12.001111,0.566667,0.008772,1,2
38761,2019-04-10,2019-04-10,0.001864,Connected,12.001111,13.001111,1.000000,0.001864,1,2
38762,2019-04-10,2019-04-10,0.044117,Connected,13.001111,14.001111,1.000000,0.044117,1,2
38764,2019-04-10,2019-04-10,0.034797,Connected,14.001111,15.001111,1.000000,0.034797,1,2
38767,2019-04-10,2019-04-10,0.004350,Connected,15.001111,16.001111,1.000000,0.004350,1,2
38768,2019-04-10,2019-04-10,0.003728,Connected,16.001111,17.001111,1.000000,0.003728,1,2
38769,2019-04-10,2019-04-10,0.008699,Connected,17.001111,18.001111,1.000000,0.008699,1,2
38770,2019-04-10,2019-04-10,0.003728,Connected,18.001111,19.001111,1.000000,0.003728,1,2
38771,2019-04-10,2019-04-10,0.000621,Connected,19.001111,19.584444,0.583333,0.001065,1,2

In [111]:
for i in ddf.index:
    if ddf['condsum'][i] == 3:
        new_st = ddf.end_time[i-1] + 1e-10
        new_et = ddf.end_time[i]
        new_dr = new_et - new_st
        speed  = ddf['mph'][i]
        new_td = speed * new_dr
        src = ddf['source'][i]
        srt_dt = ddf['start_date'][i]
        end_dt = ddf['end_date'][i]
        ddf.loc[i, :] = [srt_dt, end_dt, new_td, src, new_st, new_et, new_dr, speed, 3]

In [112]:
print(ddf.info(), ddf.tot_dist.sum(), ddf.duration.sum(), sep='\n\n\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31799 entries, 0 to 31798
Data columns (total 9 columns):
start_date    31799 non-null datetime64[ns]
end_date      31799 non-null datetime64[ns]
tot_dist      31799 non-null float64
source        31799 non-null object
start_time    31799 non-null float64
end_time      31799 non-null float64
duration      31799 non-null float64
mph           31799 non-null float64
condsum       31799 non-null int64
dtypes: datetime64[ns](2), float64(5), int64(1), object(1)
memory usage: 2.2+ MB
None


2200.588676252133


8839.10666328057

In [52]:
def remove_overlap_times_first(df):
    '''Step : 5
       Remove all the rows that overlap times.

       To remove overlapping rows, make sure to check if start date for the
       same row are the same and make sure the following row has the same
       starting and ending date.

       Also, the starting time of the following row has to be greater than or
       equal to the starting time for the row and the ending time for the
       following row has to be less than or equal to the row to check.

       Once the row is identified, drop the row, and reset index.

       Using while loop, since the function can keep checking the same row
       with the following rows.'''

    i = 0
    while i < len(df) - 1:

        if df['source'][i] == df['source'][i + 1]:
            i += 1
        else:
            if df.start_time[i] <= df.start_time[i+1] and (
                df.end_time[i] >= df.end_time[i+1]) and (
                df.start_date[i] == df.start_date[i+1] and
                df.start_date[i] == df.end_date[i+1]) and (
                df.start_date[i] == df.end_date[i]):

                df.drop(index=(i+1), inplace=True)
                df.reset_index(inplace=True)
                df.drop(columns=['index'], inplace=True)
            else:
                i += 1
    return df

In [79]:
ddf.condsum.sum()

110661

In [81]:
ddf

,start_date,end_date,tot_dist,source,start_time,end_time,duration,cond1,cond2,cond3,cond4,condsum
0,2017-02-17,2017-02-17,0.025756,Mojito’s iPhone,21.390000,21.511667,00:07:18,0,0,0,1,1
1,2017-02-17,2017-02-17,0.082226,Mojito’s iPhone,21.607778,21.738611,00:07:51,0,1,1,1,3
2,2017-02-17,2017-02-17,0.019579,Mojito’s iPhone,21.738611,21.864444,00:07:33,0,1,1,1,3
3,2017-02-17,2017-02-17,0.008028,Mojito’s iPhone,21.876111,21.976944,00:06:03,0,1,1,1,3
4,2017-02-17,2017-02-17,0.086389,Mojito’s iPhone,21.976944,22.126389,00:08:58,0,1,1,1,3
5,2017-02-17,2017-02-17,0.109740,Mojito’s iPhone,22.273611,22.425000,00:09:05,0,1,1,1,3
6,2017-02-17,2017-02-17,0.008128,Mojito’s iPhone,22.425000,22.574722,00:08:59,0,1,1,1,3
7,2017-02-17,2017-02-17,0.002691,Mojito’s iPhone,22.854722,22.986389,00:07:54,0,1,1,1,3
8,2017-02-18,2017-02-18,0.008345,Mojito’s iPhone,9.919167,10.020556,00:06:05,1,0,0,1,2
9,2017-02-18,2017-02-18,0.006761,Mojito’s iPhone,11.562500,11.668056,00:06:20,0,1,1,1,3
10,2017-02-18,2017-02-18,0.008183,Mojito’s iPhone,14.168056,14.296667,00:07:43,0,1,1,1,3
11,2017-02-18,2017-02-18,0.013658,Mojito’s iPhone,16.658056,16.814722,00:09:24,0,1,1,1,3
12,2017-02-18,2017-02-18,0.008165,Mojito’s iPhone,16.814722,16.902778,00:05:17,0,1,1,1,3
13,2017-02-18,2017-02-18,0.059677,Mojito’s iPhone,16.911389,17.078056,00:10:00,0,1,1,1,3
14,2017-02-18,2017-02-18,0.097723,Mojito’s iPhone,17.078056,17.238611,00:09:38,0,1,1,1,3
15,2017-02-18,2017-02-18,0.098947,Mojito’s iPhone,17.238611,17.397500,00:09:32,0,1,1,1,3
16,2017-02-18,2017-02-18,0.034641,Mojito’s iPhone,17.397500,17.534722,00:08:14,0,1,1,1,3
17,2017-02-18,2017-02-18,0.101687,Mojito’s iPhone,17.534722,17.700833,00:09:58,0,1,1,1,3
18,2017-02-18,2017-02-18,0.172138,Mojito’s iPhone,17.700833,17.850556,00:08:59,0,1,1,1,3
19,2017-02-18,2017-02-18,0.007127,Mojito’s iPhone,17.850556,17.912778,00:03:44,0,1,1,1,3
20,2017-02-18,2017-02-18,0.014552,Mojito’s iPhone,18.096667,18.206667,00:06:36,0,1,1,1,3
21,2017-02-18,2017-02-18,0.102657,Mojito’s iPhone,18.501667,18.666944,00:09:55,0,1,1,1,3
22,2017-02-18,2017-02-18,0.100016,Mojito’s iPhone,18.666944,18.817778,00:09:03,0,1,1,1,3
23,2017-02-18,2017-02-18,0.028105,Mojito’s iPhone,18.817778,18.861667,00:02:38,0,1,1,1,3
24,2017-02-18,2017-02-18,0.078485,Mojito’s iPhone,19.016389,19.165833,00:08:58,0,1,1,1,3
25,2017-02-18,2017-02-18,0.025110,Mojito’s iPhone,19.165833,19.263333,00:05:51,0,1,1,1,3
26,2017-02-18,2017-02-18,0.016274,Mojito’s iPhone,19.392222,19.475278,00:04:59,0,1,1,1,3
27,2017-02-18,2017-02-18,0.007941,Mojito’s iPhone,20.536667,20.639444,00:06:10,0,1,1,1,3
28,2017-02-18,2017-02-18,0.009097,Mojito’s iPhone,21.470000,21.570833,00:06:03,0,1,1,1,3
29,2017-02-18,2017-02-18,0.004138,Mojito’s iPhone,21.570833,21.734167,00:09:48,0,1,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...
38422,2019-04-10,2019-04-10,0.350895,Mojito’s iPhone,7.698889,7.861389,00:09:45,0,1,1,1,3
38423,2019-04-10,2019-04-10,0.072079,Connected,7.734722,7.768056,00:02:00,0,0,1,1,2
38424,2019-04-10,2019-04-10,0.034797,Connected,7.768056,7.834722,00:04:00,0,1,1,1,3
38425,2019-04-10,2019-04-10,0.026098,Connected,7.834722,7.851389,00:01:00,0,1,1,1,3
38426,2019-04-10,2019-04-10,0.040389,Connected,7.851389,7.884722,00:02:00,0,1,1,1,3
38427,2019-04-10,2019-04-10,0.357233,Mojito’s iPhone,7.866389,8.010556,00:08:39,0,1,1,1,3
38428,2019-04-10,2019-04-10,0.031069,Connected,7.884722,7.901389,00:01:00,0,0,1,1,2
38429,2019-04-10,2019-04-10,0.014292,Connected,7.901389,7.918056,00:01:00,0,1,1,1,3
38430,2019-04-10,2019-04-10,0.187654,Connected,7.918056,7.984722,00:04:00,0,1,1,1,3
38431,2019-04-10,2019-04-10,0.018020,Connected,7.984722,8.001389,00:01:00,0,1,1,1,3
38432,2019-04-10,2019-04-10,0.024234,Connected,8.001389,9.001389,01:00:00,0,1,1,1,3
38433,2019-04-10,2019-04-10,0.067729,Connected,9.001389,10.001389,01:00:00,0,1,1,1,3
38434,2019-04-10,2019-04-10,0.053736,Mojito’s iPhone,9.284722,9.450000,00:09:55,0,0,1,1,2
38435,2019-04-10,2019-04-10,0.012782,Mojito’s iPhone,9.452222,9.503333,00:03:04,0,1,1,1,3
38436,2019-04-10,2019-04-10,0.001864,Connected,10.001389,11.001389,01:00:00,0,1,1,1,3
38437,2019-04-10,2019-04-10,0.014292,Connected,11.001389,11.401389,00:24:00,0,1,1,1,3
38438,2019-04-10,2019-04-10,0.060727,Mojito’s iPhone,11.371667,11.415000,00:02:36,0,1,1,1,3
38439,2019-04-10,2019-04-10,0.038525,Connected,11.417778,11.434444,00:01:00,0,1,1,1,3
38440,2019-04-10,2019-04-10,0.004971,Connected,11.434444,12.001111,00:34:00,0,1,1,1,3
38441,2019-04-10,2019-04-10,0.001864,Connected,12.001111,13.001111,01:00:00,0,1,1,1,3
38442,2019-04-10,2019-04-10,0.044117,Connected,13.001111,14.001111,01:00:00,0,1,1,1,3
38443,2019-04-10,2019-04-10,0.058353,Mojito’s iPhone,13.584167,13.678333,00:05:39,0,0,1,1,2
38444,2019-04-10,2019-04-10,0.034797,Connected,14.001111,15.001111,01:00:00,0,1,1,1,3
38445,2019-04-10,2019-04-10,0.038065,Mojito’s iPhone,14.119167,14.260556,00:08:29,0,0,1,1,2
38446,2019-04-10,2019-04-10,0.010638,Mojito’s iPhone,14.346667,14.347500,00:00:03,0,1,1,1,3
38447,2019-04-10,2019-04-10,0.004350,Connected,15.001111,16.001111,01:00:00,0,1,1,1,3
38448,2019-04-10,2019-04-10,0.003728,Connected,16.001111,17.001111,01:00:00,0,1,1,1,3
38449,2019-04-10,2019-04-10,0.008699,Connected,17.001111,18.001111,01:00:00,0,1,1,1,3
38450,2019-04-10,2019-04-10,0.003728,Connected,18.001111,19.001111,01:00:00,0,1,1,1,3
38451,2019-04-10,2019-04-10,0.000621,Connected,19.001111,19.584444,00:35:00,0,1,1,1,3

In [53]:
ddf = remove_overlap_times_first(ddf)

In [54]:
sdf = remove_overlap_times_first(sdf)

In [55]:
fdf = remove_overlap_times_first(fdf)

In [56]:
ddf.duration.sum()

9255.076666666668

In [57]:
sdf.duration.sum()

9254.939722222221

In [58]:
fdf.duration.sum()

8.471111111111112

In [41]:
ddf = remove_overlap_times_second(ddf)

In [42]:
sdf = remove_overlap_times_second(sdf)

In [43]:
fdf = remove_overlap_times_second(fdf)

In [44]:
ddf.duration.sum()

9255.060000000001

In [45]:
sdf.duration.sum()

9254.923055555555

In [46]:
fdf.duration.sum()

8.471111111111112